Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

⚡ Bolt: Regex hoisting in security utils
  src/utils/security.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Regex hoisting in security utils (#1087)
  src/utils/security.ts
Due: eslint --fix, prettier --write

Refactor multiple ResizeObserver instances into a single global instance
  .jules/bolt.md
  src/env.d.ts
  src/layouts/Base.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

Refactor multiple ResizeObserver instances into a single global instance (#1089)
  .jules/bolt.md
  src/env.d.ts
  src/layouts/Base.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Prevent ModeSwitch listener accumulation
  src/components/ui/ModeSwitch.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Prevent ModeSwitch listener accumulation (#1090)
  src/components/ui/ModeSwitch.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

docs: Update architecture and env docs and history
  .jules/docops-history.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

🎨 Palette: Add aria-label to share button
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Add aria-label to share button (#1092)
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Add interactive arrow icon to primary CTA link
  src/components/common/CTASection.astro.orig
Due: none

🎨 Palette: Add interactive arrow icon to primary CTA link (#1094)
  src/components/common/CTASection.astro.orig
Due: none

🎨 Palette: Accessible Icon Buttons (x13)
  src/components/common/ContactForm.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/ModeSwitch.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/cv/[...lang].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Accessible Icon Buttons (x13) (#1095)
  src/components/common/ContactForm.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/ModeSwitch.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/cv/[...lang].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

palette: add tactile feedback to project cards
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/Post.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

palette: add tactile feedback to project cards (#1096)
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/Post.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

docs: align documentation with strict boundaries
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/AI.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

docs: align documentation with strict boundaries (#1097)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/AI.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

⚡ Bolt: Use window.scrollY to prevent layout thrashing
  .jules/bolt.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Use window.scrollY to prevent layout thrashing (#1098)
  .jules/bolt.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

chore(deps): override fast-xml-parser to >=5.5.7 to fix high severity vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): override fast-xml-parser to >=5.5.7 to fix high severity vulnerabilities (#1099)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove unsafe-eval from CSP
  .jules/sentinel.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore: remove unsafe-eval from CSP (#1100)
  .jules/sentinel.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Use transform: scaleX for scroll progress bar
  .jules/bolt.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Use transform: scaleX for scroll progress bar (#1101)
  .jules/bolt.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

docs: audit documentation and fix pnpm requirements
  .jules/docops-history.md
  README.md
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Remove duplicate meta CSP tag to enforce HTTP headers
  .jules/sentinel.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Remove duplicate meta CSP tag to enforce HTTP headers (#1103)
  .jules/sentinel.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

perf: optimize copy code buttons event listeners using Singleton Listener Pattern
  src/env.d.ts
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

perf: optimize copy code buttons event listeners using Singleton Listener Pattern (#1104)
  src/env.d.ts
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Improve screen reader prosody for main logo link
  src/components/common/Header.astro
Due: eslint --fix, prettier --write

🎨 Palette: Improve screen reader prosody for main logo link (#1105)
  src/components/common/Header.astro
Due: eslint --fix, prettier --write

🎨 Palette: Consistent focus states for CTA icons (x5)
  src/components/common/ContactForm.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/LatestPosts.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

🎨 Palette: Consistent focus states for CTA icons (x5) (#1106)
  src/components/common/ContactForm.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/LatestPosts.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhanced CV controls with accessibility and haptics
  src/env.d.ts
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhanced CV controls with accessibility and haptics (#1107)
  src/env.d.ts
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

chore(docs): audit repository documentation and CI workflows
  .jules/docops-history.md
Due: prettier --write

⚡ Bolt: Implement Singleton pattern for Hero carousel observer
  .jules/bolt.md
  src/components/features/home/Hero.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Implement Singleton pattern for Hero carousel observer (#1109)
  .jules/bolt.md
  src/components/features/home/Hero.astro
  src/env.d.ts
Due: eslint --fix, prettier --write
