Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

🎨 Palette: Add tactile feedback to project filter links
  src/components/features/projects/ProjectFilter.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add tactile feedback to project filter links (#1011)
  src/components/features/projects/ProjectFilter.astro
Due: eslint --fix, prettier --write

feat(ui): add haptic feedback to interactive tags
  src/components/ui/Tag.astro
Due: eslint --fix, prettier --write

feat(ui): add haptic feedback to interactive tags (#1012)
  src/components/ui/Tag.astro
Due: eslint --fix, prettier --write

feat(cv): optimize print layout (fits A4), sync colors with theme, and remove print URLs
  format2.js
  package.json
  pnpm-lock.yaml
  src/content/config.ts
  src/content/cvEducation/bachelor-medias-en.md
  src/content/cvEducation/bachelor-medias.md
  src/content/cvEducation/cfc-en.md
  src/content/cvEducation/cfc.md
  src/content/cvExperience/armee-en.md
  src/content/cvExperience/armee.md
  src/content/cvExperience/becash-intern-en.md
  src/content/cvExperience/becash-intern.md
  src/content/cvExperience/chuv-it-en.md
  src/content/cvExperience/chuv-it.md
  src/content/cvExperience/dev-creatif-en.md
  src/content/cvExperience/dev-creatif.md
  src/content/cvExperience/freelance-prod-en.md
  src/content/cvExperience/freelance-prod.md
  src/content/cvExperience/mknd-en.md
  src/content/cvExperience/mknd.md
  src/content/cvExperience/paternelle-comm-en.md
  src/content/cvExperience/paternelle-comm.md
  src/content/cvExperience/relais-cefil-en.md
  src/content/cvExperience/relais-cefil.md
  src/content/cvExperience/roldeco-en.md
  src/content/cvExperience/roldeco.md
  src/css/style.css
  src/data/cv-basics.yml
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write, stylelint --fix

🧭 DocOps: docs + GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/AI.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

fix: resolve CI formatting failure in Astro CV page
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

🧭 DocOps: docs + GitHub workflows (#1014)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/AI.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/ENV.md
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

feat(a11y): add screen reader announcer for page transitions
  src/components/ui/PageTransition.astro
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

chore: fix CI issues (formatting, types, Astro 5 standards and script cleanup)
  format2.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/pages/cv/[...lang].astro
  src/pages/rss.xml.js
Due: eslint --fix, prettier --write

chore: update Node.js to 24 (LTS) and pnpm to 10
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .nvmrc
Due: none

chore: security update for yauzl vulnerability and pnpm lockfile refresh
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(a11y): add screen reader announcer for page transitions (#1015)
  src/components/ui/PageTransition.astro
Due: eslint --fix, prettier --write

perf: optimize CI/CD workflows with caching and path filtering
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

refactor: unify CI and Deploy into a single professional pipeline
  .github/workflows/ci.yml
  .github/workflows/pagespeed.yml
  .github/workflows/pipeline.yml
Due: none

chore: sync automerge paths and finalize pipeline cleanup
  .github/workflows/automerge.yml
Due: none

chore: rename job back to 'Build & Test' for branch protection compatibility
  .github/workflows/pipeline.yml
Due: none

chore: use professional job name 'Test & Verify' and sync with GitHub branch protection
  .github/workflows/pipeline.yml
Due: none

🛡️ Sentinel: [MEDIUM] Fix XSS via unsanitized URLs
  .jules/sentinel.md
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Fix XSS via unsanitized URLs (#1016)
  .jules/sentinel.md
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [HIGH] Fix XSS vulnerability via obfuscated URLs
  .jules/sentinel.md
  fix_test3.cjs
  src/utils/security.test.ts
  src/utils/security.ts
  tests/security.spec.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: [HIGH] Fix XSS vulnerability via obfuscated URLs (#1017)
  .jules/sentinel.md
  fix_test3.cjs
  src/utils/security.test.ts
  src/utils/security.ts
  tests/security.spec.ts
Due: eslint --fix, prettier --write

perf: lazy load LatestPosts images on home page
  src/pages/index.astro
Due: eslint --fix, prettier --write

🎨 Palette: Improve pagination accessibility by hiding decorative arrows
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

perf: lazy load LatestPosts images on home page (#1018)
  src/pages/index.astro
Due: eslint --fix, prettier --write

🎨 Palette: Improve pagination accessibility by hiding decorative arrows (#1019)
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Sanitize Dynamic URLs (x7)
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/EmptyState.astro
  src/pages/cv/[...lang].astro
  src/pages/project/[...page].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: View Transitions Singleton Listeners (x10)
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/common/Header.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/Tag.astro
  src/env.d.ts
  src/pages/404.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Sanitize Dynamic URLs (x7) (#1020)
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/EmptyState.astro
  src/pages/cv/[...lang].astro
  src/pages/project/[...page].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: View Transitions Singleton Listeners (x10) (#1021)
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/common/Header.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/Tag.astro
  src/env.d.ts
  src/pages/404.astro
Due: eslint --fix, prettier --write

🎨 Palette: UI Polish and Accessibility (x3)
  .jules/palette.md
  src/components/common/ContactForm.astro
  src/components/common/Navigation.astro
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

🎨 Palette: UI Polish and Accessibility (x3) (#1022)
  .jules/palette.md
  src/components/common/ContactForm.astro
  src/components/common/Navigation.astro
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

perf(cv): cache getCollection promises for cv content
  src/pages/cv/[...lang].astro
  src/utils/cv.ts
Due: eslint --fix, prettier --write

perf(cv): cache getCollection promises for cv content (#1023)
  src/pages/cv/[...lang].astro
  src/utils/cv.ts
Due: eslint --fix, prettier --write

chore: add ci pipeline and update docops history
  .github/workflows/ci.yml
  .jules/docops-history.md
Due: prettier --write

chore: add ci pipeline and update docops history (#1024)
  .github/workflows/ci.yml
  .jules/docops-history.md
Due: prettier --write

🎨 Palette: Add haptic feedback to primary navigation links
  src/components/common/Navigation.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

🎨 Palette: Add haptic feedback to primary navigation links (#1025)
  src/components/common/Navigation.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

🎨 Palette: Improve Tag component accessibility
  src/components/ui/Tag.astro
Due: eslint --fix, prettier --write

🎨 Palette: Improve Tag component accessibility (#1026)
  src/components/ui/Tag.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
