Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

chore: clean up verification artifacts
  verification/email_validation_full.png
  verification/email_validation_success.png
  verification/error_screenshot.png
Due: none

chore: close PR as superseded
  src/components/features/home/Hero.astro
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

Docs: Acknowledge PR closure in Sentinel journal
  .jules/sentinel.md
Due: prettier --write

Revert changes: Task duplicate/superseded
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/features/projects/Post.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/SocialIcon.astro
  src/components/ui/Tag.astro
  src/components/ui/TiltCard.astro
  src/css/style.css
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

docs: update history to reflect PR closure/superseded status
  .jules/docops-history.md
Due: prettier --write

Revert changes as PR is superseded by master
  src/components/features/home/BackgroundAnimation.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Code Efficiency & Build Optimization (x4) - Addressed PR Feedback
  .jules/bolt.md
Due: prettier --write
