Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

⚡ Bolt: Optimize Word Count Calculation (x3) (#880)
  src/components/features/projects/Post.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  tests/readingTime.spec.ts
Due: eslint --fix, prettier --write

fix: replace bun commands with npm for Render compatibility
  package.json
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/SocialIcon.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Secure Logs & Links (x15)
  src/components/common/Footer.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Secure Logs & Links (x15) (#882)
  src/components/common/Footer.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

feat(perf): lazy load ImageGallery assets to reduce memory usage
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

feat(perf): lazy load ImageGallery assets to reduce memory usage (#883)
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

feat(ui): add active section highlighting to TableOfContents
  src/components/features/projects/TableOfContents.astro
Due: eslint --fix, prettier --write

feat(ui): add active section highlighting to TableOfContents (#884)
  src/components/features/projects/TableOfContents.astro
Due: eslint --fix, prettier --write

feat(security): enhance URL validation to support tel and sms schemes
  src/components/ui/SocialIcon.astro
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

style(security): fix formatting in security.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

docs: update repo documentation and workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
  README.md
  docs/ENV.md
Due: prettier --write

⚡ Bolt: Lazy load homepage latest posts
  src/pages/index.astro
Due: eslint --fix, prettier --write

security: harden URL validation and sanitization utilities
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

feat(ui): add project counts to filter tabs
  package-lock.json
  package.json
  src/components/features/projects/ProjectFilter.astro
  src/pages/project/[...page].astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

Refactor TiltCard to use document coordinates
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

fix: add project counts to filters and fix build dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix peer dependency conflict preventing sharp install
  package-lock.json
  package.json
Due: prettier --write

fix(deps): add vite to dependencies and resolve stylelint conflicts
  package-lock.json
  src/components/features/projects/ProjectFilter.astro
  src/pages/project/[...page].astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

security: harden URL validation and sanitization utilities (#895)
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

Fix peer dependency conflict and enforce Node version
  .nvmrc
  package.json
Due: prettier --write

fix(deps): ensure vite availability and remove bun.lock
  bun.lock
Due: none

feat(ui): add skeleton loading state to project cards
  package-lock.json
  package.json
  src/components/features/projects/Post.astro
  verification_loaded.png
Due: eslint --fix, prettier --write

perf: Cache DOM queries in ContactForm validation
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

chore(deps): override minimatch to fix ReDoS vulnerability
  .jules/sentinel.md
  package-lock.json
  package.json
Due: prettier --write

fix: add vite to dependencies for Render deployment
  package-lock.json
  package.json
Due: prettier --write

fix(deps): correct overrides and move iconify to dependencies
  package-lock.json
  package.json
Due: prettier --write

feat(ui): add skeleton loading state to project cards (#898)
  package-lock.json
  package.json
  src/components/features/projects/Post.astro
  verification_loaded.png
Due: eslint --fix, prettier --write

fix: add vite to dependencies for Render deployment
  package-lock.json
  package.json
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Cursor Cues for Buttons (x12)
  src/components/common/ContactForm.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Cursor Cues for Buttons (x12) (#901)
  src/components/common/ContactForm.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Added project counts to filters and fixed localization
  src/components/features/projects/ProjectFilter.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

🎨 Palette: Added project counts to filters and fixed localization (#902)
  src/components/features/projects/ProjectFilter.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

perf(ContactForm): optimize real-time validation DOM queries
  .jules/bolt.md
  e2e/verify_feature.spec.ts
  src/components/common/ContactForm.astro
  src/components/features/projects/LatestPosts.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

perf(Base): optimize secure link query selector
  .jules/bolt.md
  e2e/verify_feature.spec.ts
  src/components/common/ContactForm.astro
  src/components/features/projects/LatestPosts.astro
  src/layouts/Base.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat(docs): update documentation and workflows to npm conventions
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
Due: prettier --write

🎨 Palette: Smooth skip link transitions
  .jules/palette.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write
