Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

perf: optimize project props for build performance
  .jules/bolt.md
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/Post.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

feat(perf): batch optimization for memory leaks and bundle size
  src/components/common/Footer.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix dependencies and silence error leaks
  .jules/sentinel.md
  package-lock.json
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Accessibility & UX Polish Batch (x5)
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/PublishDate.astro
  src/components/ui/Tag.astro
  verification_error.png
Due: eslint --fix, prettier --write

🛡️ Sentinel: Harden security utilities against protocol-relative URL bypasses and control character injection.
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
  tests/security.spec.ts
Due: eslint --fix, prettier --write

🎨 Palette: Contact Form Draft Persistence
  .jules/palette.md
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

docs: update repo documentation and verify workflows
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  agent.md
  docs/AI.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

security: fix critical vulnerability in brace-expansion
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🎨 Palette: Add copy code buttons to generic post pages
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

Refactor Footer.astro to optimize script execution and fix memory leaks
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

feat(security): prevent open redirects via protocol-relative URLs
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

🎨 Palette: Add accessible date labels to project cards
  .jules/palette.md
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize Hero animation memory usage
  .jules/bolt.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

🎨 Palette: Consistent email validation feedback
  .jules/palette.md
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

feat(security): disallow protocol-relative URLs in validation utils
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize reading time calculation
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/Post.astro
  src/pages/project/[slug].astro
  src/utils/readingTime.test.ts
  src/utils/readingTime.ts
Due: eslint --fix, prettier --write

palette: polish interaction and accessibility consistency
  .jules/palette.md
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/Post.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: The Silencer (x7) - Enforce no-console and fix leaks
  eslint.config.js
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/projects/VideoPlayer.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

perf: optimize reading time calculation and string processing
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/readingTime.test.ts
  src/utils/readingTime.ts
Due: eslint --fix, prettier --write

fix: move build tools to dependencies for Render deployment
  package.json
Due: prettier --write

fix: sync lockfiles to resolve CI failure
  package-lock.json
Due: prettier --write

feat(security): harden application against console leaks (x5)
  bun.lock
  package.json
Due: prettier --write

fix: regenerate bun.lock to match package.json
  bun.lock
Due: none

perf: optimize build memory usage and fix render timeouts
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

style: fix code formatting in ImageGallery.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

fix: re-apply build optimizations and fix formatting in ImageGallery
  src/components/features/projects/Post.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/readingTime.test.ts
  src/utils/readingTime.ts
Due: eslint --fix, prettier --write

🎨 Palette: Fix duplicate IDs for a11y & ensure consistent copy-code UX
  src/components/ui/HamburgerButton.astro
  src/components/ui/ModeSwitch.astro
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Fix a11y live regions, copy UX, and deploy OOM
  .jules/palette.md
  package-lock.json
  package.json
  scripts/optimize-images.js
  tsconfig.json
Due: eslint --fix, prettier --write

⚡ Bolt: Fix event listener memory leak in HamburgerButton
  .jules/bolt.md
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize ImageGallery concurrency
  .jules/bolt.md
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Move sharp to dependencies for Render
  .jules/bolt.md
  package-lock.json
  package.json
  src/components/ui/HamburgerButton.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

docs: update README, CONTRIBUTING, ARCHITECTURE and harden deploy workflow
  .github/workflows/deploy.yml
  .jules/docops-history.md
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
Due: prettier --write

feat(security): enforce strict protocol validation for videoUrl
  .jules/sentinel.md
  src/content/config.ts
Due: eslint --fix, prettier --write

feat: add positive validation feedback to email input
  e2e/contact-validation.spec.ts
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

fix: move build deps to dependencies and relax prepare script
  .jules/docops-history.md
  package-lock.json
  package.json
Due: prettier --write

Refactor HamburgerButton to clean up event listeners
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

fix: pin bun version to 1.2.14 in CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
Due: prettier --write

fix(deps): move sharp to dependencies for render build feat(security): enforce strict protocol validation for videoUrl
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
