Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: Update pubDate for Paternelle 2024 and 2025 project entries.
  src/content/project/paternelle-2024.mdx
  src/content/project/paternelle-2025.mdx
Due: prettier --write

feat: implement PWA, speculation rules for instant navigation, and font optimization with a new script.
  .Jules/bolt.md
  astro.config.mjs
  package-lock.json
  package.json
  public/fonts/space-grotesk-bold.woff2
  scripts/optimize-fonts.js
  src/env.d.ts
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 1: Log injection
  scripts/optimize-fonts.js
Due: eslint --fix, prettier --write

feat: improve image optimization across components and add Cloudflare Pages deployment workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pagespeed.yml
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/project/[slug].astro
  wrangler.toml
Due: eslint --fix, prettier --write

refactor: Streamline CI/CD by removing dedicated CodeQL and Lighthouse CI workflows, integrating quality and security checks into deploy, and simplifying CI.
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/pagespeed.yml
Due: none

feat: upgrade GitHub Actions and migrate Cloudflare Pages deployment to Wrangler CLI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: prettier --write

Potential fix for code scanning alert no. 2: Log injection
  scripts/optimize-fonts.js
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 3: Log injection
  scripts/optimize-fonts.js
Due: eslint --fix, prettier --write

fix: Move npm ci step to occur earlier in CI/deploy workflows.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: Downgrade checkout action to v4 and remove site bucket configuration from wrangler.toml
  .github/workflows/pagespeed.yml
  wrangler.toml
Due: none

chore: Update CodeQL actions to v4, fix image response type assertion, and remove unused path import.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  scripts/generate-csp.mjs
  src/pages/og/[slug].png.ts
Due: eslint --fix, prettier --write

chore: remove unused script optimize-fonts.js (fixes security alert)
  scripts/optimize-fonts.js
Due: eslint --fix, prettier --write

docs: Update README with latest tech stack versions, add Carbon Badge and enhanced security features, and detail GitHub Actions CI/CD for Cloudflare Pages deployment.
  README.md
Due: prettier --write

docs: update README to reflect PWA integration and remove Partytown references.
  README.md
Due: prettier --write

style: update social icon background and text colors
  src/components/ui/SocialIcon.astro
Due: eslint --fix, prettier --write

style: Add top margin to project navigation and update CTA section top margin.
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

style: reduce indentation for accessibility focus logic
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore: Migrate from npm to Bun for package management and script execution.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

ci: migrate CI/CD workflows from Node.js/npm to Bun and refine README markdown.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
Due: prettier --write

docs: Enhance README with expanded project configuration details for `description`, `intro`, `tag`, `type`, `videoUrl`, and `gallery`.
  README.md
Due: prettier --write

feat: Remove unused UI components and social icons, and update author bio and project-related features.
  src/components/common/Footer.astro
  src/components/common/SEO.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/icons/dribbble.astro
  src/components/icons/facebook.astro
  src/components/icons/mastodon.astro
  src/components/icons/messenger.astro
  src/components/icons/pinterest.astro
  src/components/icons/skype.astro
  src/components/icons/twitter.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/CustomCursor.astro
  src/components/ui/ImageGallery.astro
  src/content/author/samuel.json
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

refactor: Remove magnetic button functionality and add active scale animation to buttons.
  src/components/common/CTASection.astro
  src/components/features/home/Hero.astro
  src/css/style.css
  src/pages/about.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add Cloudflare Web Analytics script.
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

fix: hardcode Web3Forms access key in contact form
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

fix: update bun.lock for @playwright/test dependency
  bun.lock
Due: none

fix: resolve TypeScript errors in Base.astro scroll optimization
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore: update bun.lock to resolve CI frozen lockfile error
  bun.lock
Due: none

style: format ContactForm.astro
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

Merge multiple open pull requests (consolidated)
  .Jules/bolt.md
  .Jules/docops-history.md
  .Jules/palette.md
  .Jules/sentinel.md
Due: prettier --write

chore: purge duplicated case-sensitive jules index entries
  .Jules/SEO_ROADMAP.md
  .Jules/bolt.md
  .Jules/palette.md
  .Jules/sentinel.md
  .jules/bolt.md
  .jules/docops-history.md
  .jules/palette.md
  .jules/sentinel.md
  astro.config.mjs
  package-lock.json
  package.json
  src/assets/404/IMG_6078.webp
  src/components/common/ContactForm.astro
  src/content/project/48h-geneve-2025.mdx
Due: eslint --fix, prettier --write

chore: add configVersion to bun.lock
  bun.lock
Due: none

Resolve casing conflicts and finalize merges
  .Jules/docops-history.md
  .Jules/sentinel.md
  .jules/bolt.md
  .jules/sentinel.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🎨 Palette: Fix formatting in HamburgerButton.astro
  PR_AUDIT_REPORT.md
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

🧪 Tests: Add robust E2E tests for navigation, form and theme
  tests/site.spec.ts
Due: eslint --fix, prettier --write

🎨 Style: Final formatting fix for remaining CI components
  src/components/common/CTASection.astro
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/projects/LatestPosts.astro
Due: eslint --fix, prettier --write

💄 UI: Fix ModeSwitch icon overlap and dark mode nav styles
  src/components/common/Navigation.astro
  src/components/ui/ModeSwitch.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

✨ Hero: Add services summary and fix PageSpeed/Accessibility issues in footer
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

Final formatting and linting fixes for 14-branch merge
  src/components/ui/ImageGallery.astro
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

fix(a11y): improve color contrast for hero services summary
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
