Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

test: add comprehensive tests for VIMEO_ID_REGEX and YOUTUBE_ID_REGEX
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

Acknowledging PR merged/superseded
  .jules/palette.md
  src/components/common/Header.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

chore: Acknowledge PR closure as superseded by master
  src/components/features/home/Hero.astro
  verification/hero.png
  verification/verify_hero.py
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix XSS (javascript: URLs) and open redirect (// protocol-relative)
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

Reverting all changes due to PR closure.
  src/components/common/Navigation.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/SocialIcon.astro
  src/components/ui/Tag.astro
Due: eslint --fix, prettier --write

chore: acknowledge PR closure (obsolete work)
  verify_palette_changes.py
Due: none

Revert changes: PR closed as obsolete
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/SocialIcon.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

docs(security): restore sentinel journal & cleanup
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .husky/pre-commit
  .jules/docops-history.md
  .jules/sentinel.md
  CONTRIBUTING.md
  agent.md
  bun.lock
  docs/API.md
  eslint.config.js
  package-lock.json
  package.json
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/common/Navigation.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/PublishDate.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ModeSwitch.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/index.astro
  src/pages/og/[slug].png.ts
  src/pages/project/[slug].astro
  src/utils/readingTime.ts
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

fix(security): Sanitize Lightbox image source to prevent XSS
  .jules/sentinel.md
  e2e/site.spec.ts
  public/_headers
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

chore: fix Prettier formatting in Hero.astro (missing blank line after slides const)
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

chore: remove debug test_url.ts file (ESLint no-console error)
  test_url.ts
Due: eslint --fix, prettier --write

⚡ [performance] Optimize image loading and concurrency
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
  src/utils/async.ts
Due: eslint --fix, prettier --write

fix: add eslint-disable-next-line for dev-guarded console.error statements
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

fix: ignore console.error for copy paste error in [slug].astro addCopyButtons
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

fix: resolve Render deployment failure by moving build-critical dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: resolve Render build timeouts and OOM errors
  astro.config.mjs
  scripts/optimize-images.js
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

chore: add auto-merge workflow for Dependabot and user PRs
  .github/workflows/automerge.yml
Due: none

chore: add .grepai/ to .gitignore
  .gitignore
Due: none

fix: resolve Render deployment failure by fixing prepare script
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

ci: Increase timeouts for deploy and CI workflows.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: Increase timeout minutes for CI and deploy workflow jobs and steps from 45 to 60.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: delete package-lock.json
  package-lock.json
Due: prettier --write

fix(ci): standardize Bun v1.3.9 and allow lockfile sync
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix(ci): remove manual cache and disable husky to fix install failure
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: force update core dependencies (Astro, Tailwind, Prettier)
  package.json
Due: prettier --write

chore: Update image path for 48h-geneve-2025 and video URL for 48h-lausanne-2024 projects.
  src/content/project/48h-geneve-2025.mdx
  src/content/project/48h-lausanne-2024.mdx
Due: prettier --write

⚡ Bolt: Optimize Lightbox event listeners
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize Lightbox event listeners (#860)
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write
