Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

fix(deps): add sharp-linux-x64 for Render compatibility
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

Fix deployment failure on Render and prevent event listener leaks; remove dead CSS animations.
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🛡️ Sentinel: Replace bun with npm in build scripts for Render compatibility
  package.json
Due: prettier --write

fix(build): replace bun with npm in package.json scripts
  package-lock.json
  package.json
Due: prettier --write

Move critical build dependencies to `dependencies` to fix Render deployment.
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🛡️ Sentinel: Fix Render Deployment (Move build deps to dependencies)
  package-lock.json
  package.json
Due: prettier --write

🛡️ Sentinel: Sync bun.lock with package.json to fix CI
  bun.lock
Due: none

Disable astro-compress to fix production build failure.
  astro.config.mjs
Due: eslint --fix, prettier --write

perf: Fix event listener memory leak in HamburgerButton
  .jules/bolt.md
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

fix: Fix Render deployment and HamburgerButton memory leak
  package.json
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

fix: Fix Render deployment and HamburgerButton memory leak
  bun.lock
  package-lock.json
Due: prettier --write

🧪 [sanitizeUrl] Add error path test cases
  diff.patch
  src/utils/security.test.ts
  test_url.ts
Due: eslint --fix, prettier --write

fix: Format code and update dependencies for CI
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

test: add unit tests for isValidUrl security utility
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

🧪 [testing improvement] Add comprehensive tests for security utilities
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix brace-expansion CRITICAL vulnerability (DoS)
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

test: add tests for robots.txt.ts
  tests/robots.txt.spec.ts
Due: eslint --fix, prettier --write

🧹 chore: remove commented-out font imports
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🧪 [testing] add comprehensive tests for YOUTUBE_ID_REGEX and VIMEO_ID_REGEX
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

⚡ optimize(images): parallelize image processing loop
  bun.lock
  package.json
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

chore: extract 404 back button logic to navigation utility
  e2e/404.spec.ts
  src/pages/404.astro
  src/utils/navigation.ts
Due: eslint --fix, prettier --write

🧹 refactor: extract complex Hero component scripts to utility
  src/components/features/home/Hero.astro
  src/utils/hero-logic.ts
Due: eslint --fix, prettier --write

⚡ optimize(images): implement parallel image processing
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

🧹 Remove redundant !important in Header CSS
  src/components/common/Header.astro
Due: eslint --fix, prettier --write

🧹 refactor: extract mobile menu accessibility logic to utility
  src/components/common/Header.astro
  src/utils/a11y.ts
Due: eslint --fix, prettier --write

🧹 refactor: extract sharing logic into centralized utility
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/share.test.ts
  src/utils/share.ts
Due: eslint --fix, prettier --write

🧹 fix: replace unsafe 'any' types with generics and unknown
  src/components/features/home/Hero.astro
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

🧹 refactor: extract mobile menu accessibility logic to utilities
  src/components/common/Header.astro
  src/utils/a11y.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix XSS via javascript: URLs and open redirect via // URLs
  src/content/config.ts
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix XSS via javascript: URLs and open redirect via // URLs
  diff.patch
  src/utils/security.test.ts
  test_url.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Silence console.log in production (ESLint no-console rule)
  eslint.config.js
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/projects/VideoPlayer.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

fix: resolve Render deployment issues and add robots.txt tests
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🔒 fix: strengthen Referrer-Policy to strict-origin
  public/_headers
Due: none

🛡️ Sentinel: DOM Hardening - Replace innerHTML with createElementNS for SVG icons
  .jules/sentinel.md
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: DOM Hardening - Replace innerHTML with createElementNS for SVG
  .jules/sentinel.md
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

🚀 [fix] resolve Render deployment failure by moving build dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(build): move build-time dependencies to 'dependencies'
  package-lock.json
  package.json
Due: prettier --write

fix: ensure build-time dependencies are available on Render
  bun.lock
  package.json
Due: prettier --write

🔒 security: implement server-side rate limiting for contact form
  .env.example
  bun.lock
  e2e/rate-limiting.spec.ts
  functions/api/submit.ts
  package.json
  src/components/common/ContactForm.astro
  src/components/features/projects/VideoPlayer.astro
  wrangler.toml
Due: eslint --fix, prettier --write
