Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

perf(project-filter): optimize tag count aggregation to O(N)
  .jules/bolt.md
  src/components/features/projects/ProjectFilter.astro
Due: eslint --fix, prettier --write

feat(docs): update documentation and workflows to npm conventions (#904)
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
Due: prettier --write

perf(project-filter): optimize tag count aggregation to O(N)
  package-lock.json
Due: prettier --write

perf: optimize tag count calculation from O(N*M) to O(N) using hash map
  .jules/bolt.md
  src/components/features/projects/ProjectFilter.astro
Due: eslint --fix, prettier --write

feat(a11y): improve skip-to-content links UX
  .jules/palette.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

perf: optimize tag count calculation from O(N*M) to O(N) using hash map (#907)
  .jules/bolt.md
  src/components/features/projects/ProjectFilter.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize project tag grouping in tag route
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

fix: smooth transform transition for skip-to-content links
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize SSG project grouping by tag to O(N) (#909)
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

fix: smooth transform transition for skip-to-content links (#910)
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Lazy load homepage latest posts (#887)
  src/pages/index.astro
Due: eslint --fix, prettier --write

🎨 Palette: Silence Decorative Icons (x13) (#881)
  package.json
Due: prettier --write

⚡ Bolt: O(N) Tag Aggregation in ProjectFilter (#906)
  .jules/bolt.md
  package-lock.json
  src/components/features/projects/ProjectFilter.astro
Due: eslint --fix, prettier --write

feat(a11y): improve skip-to-content links UX (#908)
  .jules/palette.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

fix(ci): remove temporary playwright script causing CI failure
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .jules/bolt.md
  .jules/docops-history.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  package.json
  src/components/features/projects/ProjectFilter.astro
  src/layouts/Base.astro
  src/pages/index.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize Contact Form Validation Performance (#899)
  .jules/bolt.md
  .jules/docops-history.md
  .jules/palette.md
  docs/ARCHITECTURE.md
  package-lock.json
  package.json
Due: prettier --write

⚡ Bolt: Fix TiltCard scroll behavior (#897)
  .jules/sentinel.md
  .nvmrc
  package-lock.json
  package.json
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

docs: update repo documentation and workflows
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .jules/bolt.md
  .jules/docops-history.md
  .jules/sentinel.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  package-lock.json
  package.json
  src/components/common/ContactForm.astro
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/index.astro
  src/pages/project/[slug].astro
  src/pages/project/tag/[tag].astro
  src/utils/security.test.ts
  src/utils/security.ts
  verification_loaded.png
Due: eslint --fix, prettier --write

🎨 Palette: Smooth skip link transitions (#905)
  .jules/palette.md
Due: prettier --write

⚡ Bolt: Contact Form Validation & Build Perf Optimizations (#903)
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .jules/bolt.md
  .jules/docops-history.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  package.json
  src/components/features/projects/ProjectFilter.astro
  src/layouts/Base.astro
  src/pages/index.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix ReDoS in minimatch via overrides (#900)
  .jules/sentinel.md
  package-lock.json
  package.json
Due: prettier --write

🎨 Palette: Add project counts to filter tabs (#896)
  bun.lock
Due: none

⚡ Bolt: Global Animation Observer Optimization (x2)
  .jules/bolt.md
  src/components/features/home/Hero.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore: add dependency overrides for serialize-javascript, lodash, and tmp
  package-lock.json
  package.json
Due: prettier --write

🧭 DocOps: docs + GitHub workflows (#886)
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
  docs/ENV.md
  package-lock.json
  src/components/common/ContactForm.astro
  src/components/features/projects/Post.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/security.test.ts
  src/utils/security.ts
  verification_loaded.png
Due: eslint --fix, prettier --write

⚡ Bolt: Global Animation Observer Optimization (x2) (#911)
  .jules/bolt.md
  src/components/features/home/Hero.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize Lightbox event listeners and memory usage (#876)
  .github/workflows/automerge.yml
  e2e/lightbox.spec.ts
  package-lock.json
  src/components/ui/Lightbox.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

🎨 Palette: Auto-expanding textarea for contact form (#873)
  e2e/site.spec.ts
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [Security Enhancement] Disallow protocol-relative URLs in sanitizeUrl (#874)
  .jules/sentinel.md
  astro.config.mjs
  package-lock.json
  package.json
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

🎨 Palette: Translate Carbon Badge and Tag Page title to French (#872)
  src/components/common/Footer.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Dynamic will-change for background animation (#870)
  src/components/features/home/BackgroundAnimation.astro
Due: eslint --fix, prettier --write

🧭 DocOps: docs + GitHub workflows (#869)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
  docs/ARCHITECTURE.md
Due: prettier --write

feat(security): enhance URL validation to support tel and sms schemes (#885)
  docs/ENV.md
  e2e/lightbox.spec.ts
  src/components/ui/SocialIcon.astro
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

🎨 Palette: Fix ModeSwitch duplicate ID and multi-instance support (#867)
  astro.config.mjs
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

fix: resolve peer dependency conflict and duplicate import
  package.json
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

style: fix formatting in security.test.ts
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

🧪 Add tests for Vimeo and YouTube regexes (#857)
  src/utils/security.test.ts
Due: eslint --fix, prettier --write
