Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

🎨 Palette: Contextual Reveal for keyboard shortcuts (#1352)
  src/components/common/Navigation.astro
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

🎨 Palette: Contextual Keyboard Shortcut for Logo Navigation
  .jules/palette.md
  src/components/common/Header.astro
  src/components/common/Navigation.astro
Due: eslint --fix, prettier --write

🎨 Palette: Contextual Keyboard Shortcut for Logo Navigation (#1353)
  .jules/palette.md
  src/components/common/Header.astro
  src/components/common/Navigation.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Prevent resource exhaustion in client form via try...finally
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Prevent resource exhaustion in client form via try...finally (#1354)
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

feat: migrate to Astro Content Layer API, update project slug references, and bump project dependencies.
  package.json
  pnpm-lock.yaml
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/common/SeoHead.astro
  src/components/features/projects/Post.astro
  src/content.config.ts
  src/pages/[slug].astro
  src/pages/cv/[...lang].astro
  src/pages/og/[slug].png.ts
  src/pages/project/[...page].astro
  src/pages/project/[slug].astro
  src/pages/rss.xml.js
Due: eslint --fix, prettier --write

🎨 Palette: Contextual Keyboard Shortcuts (x3)
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/ui/ModeSwitch.astro
  tests/pages/og/slug.png.spec.ts
Due: eslint --fix, prettier --write

🎨 Palette: Contextual Keyboard Shortcuts (x3)
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/pnpm-audit.yml
  tests/async.spec.ts
Due: eslint --fix, prettier --write

🎨 Palette: Contextual Keyboard Shortcuts (x3)
  src/components/common/ContactForm.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/client/copy.ts
Due: eslint --fix, prettier --write

🎨 Palette: Contextual Keyboard Shortcuts (x3) (#1355)
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/pnpm-audit.yml
  src/components/common/ContactForm.astro
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/ui/ModeSwitch.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/client/copy.ts
  tests/async.spec.ts
  tests/pages/og/slug.png.spec.ts
Due: eslint --fix, prettier --write

🧭 DocOps: docs + GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/pnpm-audit.yml
  .jules/docops-history.md
  README.md
  docs/ARCHITECTURE.md
Due: prettier --write

🧭 DocOps: docs + GitHub workflows (#1356)
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/pnpm-audit.yml
  .jules/docops-history.md
  README.md
  docs/ARCHITECTURE.md
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix buffer bounds check vulnerability in uuid
  .jules/sentinel.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix buffer bounds check vulnerability in uuid (#1357)
  .jules/sentinel.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

🧭 DocOps: docs + GitHub workflows
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  .jules/docops.md
  CONTRIBUTING.md
  docs/AI.md
  docs/API.md
  docs/ENV.md
Due: prettier --write

🧭 DocOps: docs + GitHub workflows (#1358)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  .jules/docops.md
  CONTRIBUTING.md
  docs/AI.md
  docs/API.md
  docs/ENV.md
Due: prettier --write

🎨 Palette: Add Backspace keyboard shortcut to 404 page Back button
  .jules/palette.md
  src/env.d.ts
  src/pages/404.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add Backspace keyboard shortcut to 404 page Back button (#1361)
  .jules/palette.md
  src/env.d.ts
  src/pages/404.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [security improvement] Add honeypot trap and strict CSP headers
  .jules/sentinel.md
  functions/api/submit.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: [security improvement] Add honeypot trap and strict CSP headers (#1362)
  .jules/sentinel.md
  functions/api/submit.ts
Due: eslint --fix, prettier --write

🎨 Palette: Improve contact form accessibility (ARIA links and live regions)
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Improve contact form accessibility (ARIA links and live regions) (#1363)
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

docs: analyse complète du portfolio et roadmap de refonte
  ROADMAP.md
Due: prettier --write

docs: ajouter les vulnérabilités de dépendances à la Phase 0
  ROADMAP.md
Due: prettier --write

fix: Phase 0 — réparation production et assainissement du dépôt
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  PR_AUDIT_REPORT.md
  README.md
  ROADMAP.md
  agent.md
  analyze_lighthouse.cjs
  bun.lock
  format2.mjs
  functions/api/submit.ts
  package.json
  pnpm-lock.yaml
  public/_redirects
  public/fonts/inter-v12-latin_latin-ext-700.woff2
  public/fonts/inter-v12-latin_latin-ext-regular.woff2
  public/fonts/space-grotesk-v15-latin_latin-ext-600.woff2
  public/fonts/space-grotesk-v15-latin_latin-ext-700.woff2
  public/fonts/space-grotesk-v15-latin_latin-ext-regular.woff2
  src/components/common/Header.astro.orig
  src/components/common/SeoHead.astro
  src/components/features/home/Hero.astro
  src/css/style.css
  src/pages/[slug].astro
  tests/functions/submit.test.ts
  update_palette.cjs
Due: eslint --fix, prettier --write, stylelint --fix

feat: Phase 1 — taxonomie éditoriale et rééquilibrage de la home
  ROADMAP.md
  src/assets/portfolio-kuasar/home-dark.avif
  src/assets/portfolio-kuasar/home-light.avif
  src/assets/portfolio-kuasar/projets.avif
  src/components/features/home/Hero.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/Post.astro
  src/content.config.ts
  src/content/project/48h-geneve-2024.mdx
  src/content/project/48h-geneve-2025.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/48h-vevey-2025.mdx
  src/content/project/corps-et-ame.mdx
  src/content/project/frencha-clip.mdx
  src/content/project/izia-fete-musique.mdx
  src/content/project/izia-proudRebel.mdx
  src/content/project/jimmy-cpdv.mdx
  src/content/project/lamia-clip.mdx
  src/content/project/larev.mdx
  src/content/project/lola-clip.mdx
  src/content/project/nuage.mdx
  src/content/project/paternelle-2024.mdx
  src/content/project/paternelle-2025.mdx
  src/content/project/paternelle.mdx
  src/content/project/portfolio-kuasar.mdx
  src/content/project/producteur.mdx
  src/content/project/xxcent-sourire.mdx
  src/pages/index.astro
  src/pages/project/[slug].astro
  src/utils/featured.ts
  tests/utils/featured.spec.ts
Due: eslint --fix, prettier --write

fix: cohérence UX/UI post-refonte — About 3 piliers, nav Contact, mobile
  astro.config.mjs
  public/llms.txt
  src/components/common/Navigation.astro
  src/components/features/projects/Post.astro
  src/config.mjs
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

feat: UX finale — hero mobile allégé, projets liés par pilier, sobriété
  src/assets/portfolio-kuasar/home-dark.avif
  src/assets/portfolio-kuasar/home-light.avif
  src/assets/portfolio-kuasar/projets.avif
  src/components/common/CTASection.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/home/Hero.astro
  src/css/style.css
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write, stylelint --fix

fix: schema LocalBusiness aligné sur les 3 piliers
  src/components/common/LocalBusinessSchema.astro
Due: eslint --fix, prettier --write

feat: 2 études de cas UX — travail de bachelor CHUV et Vide dressing
  src/assets/tb-chuv/affiche.avif
  src/assets/tb-chuv/maquette-app.avif
  src/assets/vide-dressing/maquette.avif
  src/assets/vide-dressing/wireframes.avif
  src/content/project/chuv-blocs-operatoires.mdx
  src/content/project/vide-dressing.mdx
Due: prettier --write

fix: audit de sécurité via le bulk advisory endpoint npm
  .github/workflows/pnpm-audit.yml
  package.json
  pnpm-lock.yaml
  scripts/audit-bulk.mjs
Due: eslint --fix, prettier --write

feat: 2 études de cas web supplémentaires — YouPlantes et musées de Pully
  src/assets/musees-pully/accueil-mobile.avif
  src/assets/musees-pully/desktop.avif
  src/assets/musees-pully/mobile-complet.avif
  src/assets/youplantes/identite.avif
  src/assets/youplantes/sitemap.avif
  src/assets/youplantes/wireframes.avif
  src/content/project/musees-pully.mdx
  src/content/project/youplantes.mdx
Due: prettier --write

feat: SEO local — NAP centralisé, nouvel email, zone de chalandise romande
  public/.well-known/security.txt
  public/llms.txt
  src/components/common/Footer.astro
  src/components/common/LocalBusinessSchema.astro
  src/config.mjs
  src/data/cv-basics.yml
  src/pages/about.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: GEO (Generative Engine Optimization) — crawlers IA, llms.txt, entité, FAQ
  public/llms.txt
  src/components/common/Footer.astro
  src/components/common/LocalBusinessSchema.astro
  src/config.mjs
  src/pages/about.astro
  src/pages/index.astro
  src/pages/robots.txt.ts
Due: eslint --fix, prettier --write

feat: étude de cas APPY — application de découverte d'Yverdon-les-Bains
  src/assets/appy/brumus.avif
  src/assets/appy/carte-parcours.avif
  src/assets/appy/splash.avif
  src/assets/appy/violette.avif
  src/content/project/appy.mdx
Due: prettier --write

Refactor code structure for improved readability and maintainability
  bun.lock
  package.json
Due: prettier --write

feat: APPY enrichi (doc complète), multi-catégorie et vrais visuels
  src/assets/appy/panneau.avif
  src/assets/appy/prototype.avif
  src/assets/appy/splash.avif
  src/assets/appy/violette.avif
  src/content.config.ts
  src/content/project/appy.mdx
  src/pages/project/[slug].astro
  src/utils/pillars.ts
Due: eslint --fix, prettier --write

fix: rétablir pnpm.overrides (frozen install cassé sur master)
  package.json
Due: prettier --write
