Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

perf: optimize theme color synchronization
  .jules/bolt.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

perf: optimize theme color synchronization (#929)
  .jules/bolt.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat(ux): Add visible keyboard shortcut hint for theme toggle
  .jules/palette.md
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

feat(ux): Add visible keyboard shortcut hint for theme toggle (#930)
  .jules/palette.md
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

⚡ Bolt: DOM Query Pre-filtering (x2)
  .jules/bolt.md
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: DOM Query Pre-filtering (x2) (#931)
  .jules/bolt.md
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: staggered mobile nav animations and haptic feedback
  .jules/palette.md
  package-lock.json
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

🎨 Palette: staggered mobile nav animations and haptic feedback (#932)
  .jules/palette.md
  package-lock.json
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

perf(LatestPosts): optimize O(N) filtering to O(limit) early exit
  .jules/bolt.md
  src/components/features/projects/LatestPosts.astro
Due: eslint --fix, prettier --write

perf(LatestPosts): optimize O(N) filtering to O(limit) early exit (#933)
  .jules/bolt.md
  src/components/features/projects/LatestPosts.astro
Due: eslint --fix, prettier --write

docs(docops): audit docs and verify existing ci workflows
  .jules/docops-history.md
Due: prettier --write

docs(docops): audit docs and verify existing ci workflows (#934)
  .jules/docops-history.md
Due: prettier --write

⚡ Bolt: Optimize limitConcurrency with worker-pool pattern
  .jules/bolt.md
  src/utils/async.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize limitConcurrency with worker-pool pattern (#935)
  .jules/bolt.md
  src/utils/async.ts
Due: eslint --fix, prettier --write

perf(ssg): replace O(T*N) tag filtering with O(N) map
  .jules/bolt.md
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

feat(ui): add desktop mouse drag support to hero carousel
  .jules/palette.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

perf(ssg): replace O(T*N) tag filtering with O(N) map (#936)
  .jules/bolt.md
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

feat(ui): add desktop mouse drag support to hero carousel (#937)
  .jules/palette.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

perf(ui): replace O(N) event listeners with O(1) event delegation for page transitions
  .jules/bolt.md
  src/components/ui/PageTransition.astro
Due: eslint --fix, prettier --write

perf(ui): replace O(N) event listeners with O(1) event delegation for page transitions (#938)
  .jules/bolt.md
  src/components/ui/PageTransition.astro
Due: eslint --fix, prettier --write

🎨 Palette: Cursor Cues (x5)
  .jules/palette.md
  buttons.txt
  files_with_a_tags.txt
  links.txt
  src/components/ui/Lightbox.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Cursor Cues (x5) (#939)
  .jules/palette.md
  buttons.txt
  files_with_a_tags.txt
  links.txt
  src/components/ui/Lightbox.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

docs: update docops history with verification details
  .jules/docops-history.md
Due: prettier --write

docs: update docops history with verification details (#940)
  .jules/docops-history.md
Due: prettier --write

⚡ Bolt: Replace O(N) full array shuffle with O(K) partial Fisher-Yates
  .jules/bolt.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Replace O(N) full array shuffle with O(K) partial Fisher-Yates (#941)
  .jules/bolt.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Fix unhandled JSON.parse in localStorage retrieval
  .jules/sentinel.md
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Fix unhandled JSON.parse in localStorage retrieval (#942)
  .jules/sentinel.md
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

feat: Replace native title with custom tooltip for VideoPlayer
  patch2
  patch_comment.patch
  src/components/features/projects/VideoPlayer.astro.orig
  update_video.patch
Due: none

feat: Replace native title with custom tooltip for VideoPlayer (#943)
  patch2
  patch_comment.patch
  src/components/features/projects/VideoPlayer.astro.orig
  update_video.patch
Due: none

fix(security): safeJson should safely handle undefined JSON.stringify
  src/utils/security.ts
  tests/security.spec.ts
Due: eslint --fix, prettier --write

fix(security): safeJson should safely handle undefined JSON.stringify (#944)
  src/utils/security.ts
  tests/security.spec.ts
Due: eslint --fix, prettier --write

🎨 Palette: polish UX and accessibility
  .jules/palette.md
  src/components/ui/SocialIcon.astro
  src/css/style.css
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

🎨 Palette: polish UX and accessibility (#945)
  .jules/palette.md
  src/components/ui/SocialIcon.astro
  src/css/style.css
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

⚡ Bolt: Optimize textarea auto-resize to prevent layout thrashing
  .jules/bolt.md
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Fix CI failures and optimize textarea auto-resize
  src/components/common/ContactForm.astro
  tests/readingTime.spec.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize contact form textarea to prevent layout thrashing (#946)
  .jules/bolt.md
  src/components/common/ContactForm.astro
  tests/readingTime.spec.ts
Due: eslint --fix, prettier --write

docs: audit and verify documentation and workflows
  .jules/docops-history.md
Due: prettier --write

docs: audit and verify documentation and workflows (#947)
  .jules/docops-history.md
Due: prettier --write

UX: add actionable recovery links to empty states
  .jules/palette.md
  src/components/features/projects/LatestPosts.astro
  src/components/ui/EmptyState.astro
  src/pages/project/[...page].astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write
