Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Update CONTRIBUTING.md to use pnpm commands
  .jules/docops-history.md
  CONTRIBUTING.md
Due: prettier --write

🎨 Palette: Consistent interaction feedback for About CTAs
  .jules/palette.md
  src/pages/about.astro
Due: eslint --fix, prettier --write

🎨 Palette: Consistent interaction feedback for About CTAs (#1201)
  .jules/palette.md
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat(hero): enhance CTA buttons with icons and tactile feedback
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

feat(hero): enhance CTA buttons with icons and tactile feedback (#1208)
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add haptic feedback to Table of Contents links
  .jules/palette.md
  src/components/features/projects/TableOfContents.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add haptic feedback to Table of Contents links (#1209)
  .jules/palette.md
  src/components/features/projects/TableOfContents.astro
Due: eslint --fix, prettier --write

chore(docs): audit and verify truthfulness of SSG architecture
  .jules/docops-history.md
Due: prettier --write

🛡️ Sentinel: Safe localStorage Access (x3)
  .jules/sentinel.md
  src/components/common/ContactForm.astro
  src/components/ui/ModeSwitch.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Safe localStorage Access (x3) (#1212)
  .jules/sentinel.md
  src/components/common/ContactForm.astro
  src/components/ui/ModeSwitch.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhance project pagination and CTA consistency
  src/pages/project/[...page].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhance project pagination and CTA consistency (#1213)
  src/pages/project/[...page].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

perf: optimize DOM queries using native querySelectorAll
  .jules/bolt.md
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

perf: optimize DOM queries using native querySelectorAll (#1214)
  .jules/bolt.md
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore: add pnpm audit workflow for automated dependency review
  .github/workflows/pnpm-audit.yml
  .jules/docops-history.md
Due: prettier --write

ci: add permissions block to pnpm-audit workflow
  .github/workflows/pnpm-audit.yml
Due: none

🧭 DocOps: docs + GitHub workflows (#1215)
  .github/workflows/pnpm-audit.yml
  .jules/docops-history.md
Due: prettier --write

Add intuitive refresh icons and animations to contact form reset buttons
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

Add intuitive refresh icons and animations to contact form reset buttons (#1216)
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Add try-catch for localStorage to prevent DOMExceptions
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Add try-catch for localStorage to prevent DOMExceptions (#1217)
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhanced project navigation and footer haptics
  src/components/common/Footer.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhanced project navigation and footer haptics (#1218)
  src/components/common/Footer.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

DocOps: add testing docs and stale PR/issue workflow
  .github/workflows/stale.yml
  .jules/docops-history.md
  docs/TESTING.md
Due: prettier --write

DocOps: add testing docs and stale PR/issue workflow (#1219)
  .github/workflows/stale.yml
  .jules/docops-history.md
  docs/TESTING.md
Due: prettier --write

Fix accessibility issue by concatenating aria-describedby for form errors
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Improve accessibility of form validation errors (#1220)
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Descriptive Image Alt Texts (x9)
  src/components/common/ContactForm.astro
  src/components/common/Header.astro
  src/components/ui/Lightbox.astro
  src/content/project/jimmy-cpdv.mdx
  src/content/project/larev.mdx
  src/pages/404.astro
Due: eslint --fix, prettier --write

🎨 Palette: Descriptive Image Alt Texts (x9) (#1222)
  src/components/common/ContactForm.astro
  src/components/common/Header.astro
  src/components/ui/Lightbox.astro
  src/content/project/jimmy-cpdv.mdx
  src/content/project/larev.mdx
  src/pages/404.astro
Due: eslint --fix, prettier --write

🎨 Palette: Descriptive Image Alt Texts (x9)
  package.json
  pnpm-lock.yaml
  src/components/common/ContactForm.astro
  src/components/common/Header.astro
  src/components/ui/Lightbox.astro
  src/content/project/jimmy-cpdv.mdx
  src/content/project/larev.mdx
  src/pages/404.astro
Due: eslint --fix, prettier --write

Fix non-existent GitHub Action versions and Dependabot ecosystem
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pipeline.yml
  .jules/docops-history.md
  .lighthouserc.json
  README.md
  docs/AI.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

⚡ Bolt: Optimize querySelectorAll for external links
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat(security): enforce strict-origin-when-cross-origin on external links
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

Fix non-existent GitHub Action versions and Dependabot ecosystem (#1224)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pipeline.yml
  .jules/docops-history.md
  .lighthouserc.json
  README.md
  docs/AI.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

fix(ci): fix Prettier code formatting failure in Base.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize querySelectorAll for external links (#1225)
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Enforce strict-origin-when-cross-origin (x1) (#1226)
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add keyboard shortcuts to primary navigation
  src/components/common/Navigation.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
