Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Précise le rôle de chef de projet et intègre le Figma sur APPY
  src/content.config.ts
  src/content/project/appy.mdx
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

Reformate APPY en étude de cas structurée + 4e badge (photo)
  src/content/project/appy.mdx
Due: prettier --write

Étoffe APPY en étude de cas long format + retire le badge photo
  src/content/project/appy.mdx
Due: prettier --write

feat: étude de cas APPY (Yverdon-les-Bains) + projets transverses multi-piliers (#1397)
  package.json
  src/assets/appy/brumus.avif
  src/assets/appy/carte-parcours.avif
  src/assets/appy/panneau.avif
  src/assets/appy/prototype.avif
  src/assets/appy/splash.avif
  src/assets/appy/violette.avif
  src/content.config.ts
  src/content/project/appy.mdx
  src/pages/project/[slug].astro
  src/utils/pillars.ts
Due: eslint --fix, prettier --write

Étoffe les études de cas UX à partir de leurs rapports
  src/content/project/musees-pully.mdx
  src/content/project/vide-dressing.mdx
  src/content/project/youplantes.mdx
Due: prettier --write

Approfondit l'étude de cas YouPlantes
  src/content/project/youplantes.mdx
Due: prettier --write

Corrige l'audit CI : épingle brace-expansion à 2.1.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

Ajoute deux projets web : GymTracker et VisualDon (CO₂)
  src/assets/gym-tracker/apercu.avif
  src/assets/visualdon/carte-pays.avif
  src/assets/visualdon/globe-monde.avif
  src/content/project/gym-tracker.mdx
  src/content/project/visualdon-projet.mdx
Due: prettier --write

Fix esthétique des cartes projet (dates, badges, lisibilité)
  src/components/features/projects/Post.astro
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

GymTracker : vraies captures (cover 2 écrans + galerie 4 écrans)
  src/assets/gym-tracker/01-accueil.avif
  src/assets/gym-tracker/02-seance.avif
  src/assets/gym-tracker/03-statistiques.avif
  src/assets/gym-tracker/04-connexion.avif
  src/assets/gym-tracker/apercu.avif
  src/assets/gym-tracker/cover.avif
  src/content/project/gym-tracker.mdx
Due: prettier --write

GymTracker : encadre les captures dans des mockups iPhone
  src/assets/gym-tracker/01-accueil.avif
  src/assets/gym-tracker/02-seance.avif
  src/assets/gym-tracker/03-statistiques.avif
  src/assets/gym-tracker/04-connexion.avif
  src/assets/gym-tracker/cover.avif
Due: none

Mise à jour des dépendances (mineures & patch)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Mise à jour des dépendances majeures (Astro 7, Vite 8, …)
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/audit-bulk.mjs
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

Migre le pipeline markdown vers l'API processor d'Astro 7
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Active le prérendu client (Speculation Rules) pour une nav instantanée
  astro.config.mjs
Due: eslint --fix, prettier --write

Consolide le prérendu sur le prefetch géré par Astro
  astro.config.mjs
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

Découple l'optimisation d'images du cycle de build
  package.json
Due: prettier --write

content: études de cas UX approfondies + 2 nouveaux projets web (GymTracker, VisualDon) (#1399)
  astro.config.mjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/audit-bulk.mjs
  src/assets/gym-tracker/01-accueil.avif
  src/assets/gym-tracker/02-seance.avif
  src/assets/gym-tracker/03-statistiques.avif
  src/assets/gym-tracker/04-connexion.avif
  src/assets/gym-tracker/cover.avif
  src/assets/visualdon/carte-pays.avif
  src/assets/visualdon/globe-monde.avif
  src/components/features/projects/Post.astro
  src/components/features/projects/PublishDate.astro
  src/content/project/gym-tracker.mdx
  src/content/project/musees-pully.mdx
  src/content/project/vide-dressing.mdx
  src/content/project/visualdon-projet.mdx
  src/content/project/youplantes.mdx
  src/layouts/Base.astro
  src/pages/cv/[...lang].astro
Due: eslint --fix, prettier --write

seo: ajouter `lastmod` au sitemap (signal de fraîcheur)
  astro.config.mjs
Due: eslint --fix, prettier --write

refonte: retirer le carrousel du hero (doublon avec la grille projets)
  src/components/features/home/Hero.astro
  src/css/style.css
  src/env.d.ts
  src/layouts/Base.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write, stylelint --fix

contenu: retirer les tirets cadratins et corriger le rôle des clips plateau
  astro.config.mjs
  public/_redirects
  public/llms.txt
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/ProjectFilter.astro
  src/content.config.ts
  src/content/project/48h-geneve-2024.mdx
  src/content/project/48h-geneve-2025.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/48h-vevey-2025.mdx
  src/content/project/appy.mdx
  src/content/project/chuv-blocs-operatoires.mdx
  src/content/project/corps-et-ame.mdx
  src/content/project/frencha-clip.mdx
  src/content/project/gym-tracker.mdx
  src/content/project/izia-fete-musique.mdx
  src/content/project/izia-proudRebel.mdx
  src/content/project/jimmy-cpdv.mdx
  src/content/project/lamia-clip.mdx
  src/content/project/larev.mdx
  src/content/project/lola-clip.mdx
  src/content/project/musees-pully.mdx
  src/content/project/nuage.mdx
  src/content/project/paternelle.mdx
  src/content/project/portfolio-kuasar.mdx
  src/content/project/vide-dressing.mdx
  src/content/project/visualdon-projet.mdx
  src/content/project/xxcent-sourire.mdx
  src/content/project/youplantes.mdx
  src/layouts/Base.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/project/[...page].astro
  src/pages/project/[slug].astro
  src/pages/project/categorie/[pillar].astro
  src/utils/featured.ts
  src/utils/pillars.ts
Due: eslint --fix, prettier --write

fix(ci): corriger 4 vulnérabilités hautes révélées par pnpm audit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies and improve performance
  bun.lock
  package.json
  src/components/features/projects/VideoPlayer.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

Refactor code structure for improved readability and maintainability
  .github/workflows/pipeline.yml
  pnpm-lock.yaml
Due: none

ci: finaliser la migration Bun et durcir les workflows
  .github/workflows/lint-pr.yml
  .github/workflows/pagespeed.yml
  .github/workflows/pipeline.yml
  .github/workflows/pnpm-audit.yml
  .lighthouserc.json
  CONTRIBUTING.md
  README.md
  agent.md
  bun.lock
  docs/ARCHITECTURE.md
  docs/TESTING.md
  package.json
  playwright.config.ts
  scripts/audit-bulk.mjs
  tests/pages/robots.txt.spec.ts
Due: eslint --fix, prettier --write

docs: cohérence post-migration Bun (Astro 7, bun audit, prettierignore)
  .prettierignore
  docs/ARCHITECTURE.md
  src/content/project/portfolio-kuasar.mdx
Due: prettier --write

content: personnaliser la FAQ de llms.txt (première personne)
  public/llms.txt
Due: none

ci: finaliser la migration Bun, réappliquer les overrides sécurité et épingler les actions (#1403)
  .github/workflows/lint-pr.yml
  .github/workflows/pagespeed.yml
  .github/workflows/pipeline.yml
  .github/workflows/pnpm-audit.yml
  .lighthouserc.json
  .prettierignore
  CONTRIBUTING.md
  README.md
  agent.md
  bun.lock
  docs/ARCHITECTURE.md
  docs/TESTING.md
  package.json
  playwright.config.ts
  public/llms.txt
  scripts/audit-bulk.mjs
  src/content/project/portfolio-kuasar.mdx
  tests/pages/robots.txt.spec.ts
Due: eslint --fix, prettier --write

feat: conformité RGPD/nLPD du formulaire de contact
  e2e/site.spec.ts
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/pages/politique-de-confidentialite.astro
Due: eslint --fix, prettier --write

feat: conformité RGPD/nLPD du formulaire de contact (#1404)
  e2e/site.spec.ts
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/pages/politique-de-confidentialite.astro
Due: eslint --fix, prettier --write

content: corriger les rôles sur quatre courts-métrages 48H
  src/content/project/48h-geneve-2025.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/48h-vevey-2025.mdx
  src/content/project/nuage.mdx
Due: prettier --write

content: FAQ de la page À propos à la première personne
  src/pages/about.astro
Due: eslint --fix, prettier --write

content: corriger les rôles de 4 courts-métrages + FAQ à la première personne (#1405)
  src/content/project/48h-geneve-2025.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/48h-vevey-2025.mdx
  src/content/project/nuage.mdx
  src/pages/about.astro
Due: eslint --fix, prettier --write

ci: permettre le déploiement après un merge automatique
  .github/workflows/automerge.yml
  .github/workflows/pipeline.yml
Due: none

ci: permettre le déploiement après un merge automatique (#1406)
  .github/workflows/automerge.yml
  .github/workflows/pipeline.yml
Due: none

fix(deps): corriger deux avis de sécurité élevés (brace-expansion, postcss)
  bun.lock
  package.json
Due: prettier --write

fix(deps): corriger deux avis de sécurité élevés (brace-expansion, postcss) (#1407)
  bun.lock
  package.json
Due: prettier --write

feat: export PDF interactif du portfolio (page /portfolio-pdf + bun run pdf)
  .gitignore
  astro.config.mjs
  bun.lock
  package.json
  scripts/generate-portfolio-pdf.mjs
  src/data/portfolio-pdf.yml
  src/pages/portfolio-pdf.astro
Due: eslint --fix, prettier --write

fix(pdf): cadrage des captures d'interface et rendu des couleurs
  src/data/portfolio-pdf.yml
  src/pages/portfolio-pdf.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
