Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

🛡️ Sentinel: [MEDIUM] Replace innerHTML with safe DOM methods
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: [MEDIUM] Replace innerHTML with safe DOM methods (#861)
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

chore: Update various project dependencies to their latest versions.
  bun.lock
  package.json
Due: prettier --write

update
  .github/workflows/automerge.yml
Due: none

chore: update automerge workflow configuration.
  .github/workflows/automerge.yml
Due: none

feat(build): limit image optimization concurrency
  bun.lock
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
  src/utils/async.ts
  tests/async.spec.ts
Due: eslint --fix, prettier --write

feat(build): limit image optimization concurrency (#862)
  bun.lock
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
  src/utils/async.ts
  tests/async.spec.ts
Due: eslint --fix, prettier --write

feat(security): sanitize URL inputs and encode dynamic segments
  .jules/sentinel.md
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/Tag.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix XSS vectors in links and repair Render deployment
  diff.patch
  package-lock.json
  package.json
Due: prettier --write

⚡ Bolt: Fix Event Listener Leaks in View Transitions (x6)
  package-lock.json
  src/components/features/home/Hero.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/components/ui/TiltCard.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

Fix CI dependency vulnerabilities and build script
  .github/workflows/dependency-review.yml
  package-lock.json
  package.json
Due: prettier --write

Fix Render deployment OOM issues
  astro.config.mjs
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

perf: optimize TiltCard coordinate calculation to prevent layout thrashing and fix scroll drift
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add real-time validation feedback to email field
  .jules/palette.md
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

fix(deploy): switch build scripts to npm and move build dependencies to ensure Render compatibility
  package-lock.json
  package.json
Due: prettier --write

fix(config): enforce node version and limit concurrency for render compatibility
  astro.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

perf: lazy load image modules in gallery to prevent build OOM
  astro.config.mjs
  package-lock.json
  package.json
  src/components/ui/ImageGallery.astro
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add real-time validation feedback to email field
  package-lock.json
  package.json
Due: prettier --write

🎨 Palette: fix ModeSwitch duplicate ID and multi-instance support
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add real-time validation feedback to email field
  astro.config.mjs
  bun.lock
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

🎨 Palette: fix ModeSwitch accessibility and Render build stability
  .jules/palette.md
  package.json
Due: prettier --write

🎨 Palette: fix ModeSwitch accessibility and Render build stability
  astro.config.mjs
  package.json
Due: eslint --fix, prettier --write

perf: optimize background animation performance and smoothness
  .jules/bolt.md
  src/components/features/home/BackgroundAnimation.astro
Due: eslint --fix, prettier --write

fix(build): ensure compatibility with Render deployment
  package-lock.json
  package.json
Due: prettier --write

🎨 Palette: fix ModeSwitch accessibility and Render build stability
  .jules/palette.md
  package-lock.json
  package.json
Due: prettier --write

fix(deps): remove astro-compress to resolve security warnings
  .jules/bolt.md
  astro.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(deps): update PWA and check dependencies to mitigate security warnings
  .jules/bolt.md
  package-lock.json
  package.json
Due: prettier --write

🎨 Palette: fix ModeSwitch accessibility, Render build stability, and dependency vulnerabilities
  bun.lock
  diff.patch
  package-lock.json
  package.json
Due: prettier --write

docs: update API and Architecture docs, fix CI workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
Due: prettier --write

ci: whitelist safe dev dependencies in dependency review
  .github/workflows/dependency-review.yml
Due: none

fix(deploy): switch to npm for production builds and generate lockfile
  .jules/docops-history.md
  package-lock.json
  package.json
Due: prettier --write

fix(deps): move build dependencies to production dependencies for Render compatibility
  .jules/docops-history.md
  package-lock.json
  package.json
Due: prettier --write

⚡ Bolt: Dynamic will-change for background animation
  src/components/features/home/BackgroundAnimation.astro
Due: eslint --fix, prettier --write

fix(deps): add engines field and sync lockfiles for Render compatibility
  .jules/docops-history.md
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🛡️ Sentinel: Fix open redirect risk in sanitizeUrl
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Restore package-lock.json
  package-lock.json
Due: prettier --write

fix(ci): relax dependency review strictness and add missing security workflows
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
Due: prettier --write

⚡ Bolt: Relax dependency review threshold
  .github/workflows/dependency-review.yml
  package-lock.json
  package.json
Due: prettier --write

🐛 Fix: Prepare for Render deployment (npm compat & deps)
  .jules/sentinel.md
  package-lock.json
  package.json
Due: prettier --write

🐛 Fix: Remove residual Bun dependencies and lockfile
  .jules/sentinel.md
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
