Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

fix(tests): compat bun 1.4 pour les tests de cache (import.meta.env)
  tests/utils/cv.spec.ts
  tests/utils/projects.spec.ts
Due: eslint --fix, prettier --write

fix(ci): corriger 9 vulnérabilités hautes révélées par l'audit
  bun.lock
  package.json
Due: prettier --write

feat(pdf): bon portrait et mise en avant de la mobilité Suisse → Canada
  src/data/portfolio-pdf.yml
  src/pages/portfolio-pdf.astro
Due: eslint --fix, prettier --write

feat(pdf): GymTracker remplace Musées de Pully en pleine page
  src/data/portfolio-pdf.yml
Due: none

feat: export PDF interactif du portfolio (/portfolio-pdf + bun run pdf) (#1413)
  .gitignore
  astro.config.mjs
  bun.lock
  package.json
  scripts/generate-portfolio-pdf.mjs
  src/data/portfolio-pdf.yml
  src/pages/portfolio-pdf.astro
  tests/utils/cv.spec.ts
  tests/utils/projects.spec.ts
Due: eslint --fix, prettier --write

fix: le CSS de la page d'export PDF cassait tout le site + retrait de la PWA
  astro.config.mjs
  bun.lock
  e2e/theme.spec.ts
  package.json
  public/_headers
  public/manifest.json
  src/content/project/portfolio-kuasar.mdx
  src/env.d.ts
  src/layouts/Base.astro
  src/pages/portfolio-pdf.astro
Due: eslint --fix, prettier --write

fix: le CSS de la page d'export PDF cassait tout le site + retrait de la PWA (#1417)
  astro.config.mjs
  bun.lock
  e2e/theme.spec.ts
  package.json
  public/_headers
  public/manifest.json
  src/content/project/portfolio-kuasar.mdx
  src/env.d.ts
  src/layouts/Base.astro
  src/pages/portfolio-pdf.astro
Due: eslint --fix, prettier --write

feat(pdf): couverture mono-color et style deux encres sur tout le dossier
  .gitignore
  design/garde-gsm-studios/README.md
  design/garde-gsm-studios/garde.html
  design/garde-gsm-studios/halftone.mjs
  design/garde-gsm-studios/render.mjs
  design/garde-gsm-studios/treatments.mjs
  eslint.config.js
  src/assets/portfolio-pdf/spec-camera.png
  src/assets/portfolio-pdf/spec-globe.png
  src/assets/portfolio-pdf/spec-lustre.png
  src/data/portfolio-pdf.yml
  src/pages/portfolio-pdf.astro
Due: eslint --fix, prettier --write

feat(pdf): couverture mono-color et style deux encres sur tout le dossier (#1418)
  .gitignore
  design/garde-gsm-studios/README.md
  design/garde-gsm-studios/garde.html
  design/garde-gsm-studios/halftone.mjs
  design/garde-gsm-studios/render.mjs
  design/garde-gsm-studios/treatments.mjs
  eslint.config.js
  src/assets/portfolio-pdf/spec-camera.png
  src/assets/portfolio-pdf/spec-globe.png
  src/assets/portfolio-pdf/spec-lustre.png
  src/data/portfolio-pdf.yml
  src/pages/portfolio-pdf.astro
Due: eslint --fix, prettier --write
