Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: Add editor configuration, Prettier ignore, update gitignore, and include a git cleanup script.
  .frontmatter/database/mediaDb.json
  .frontmatter/database/taxonomyDb.json
Due: prettier --write

chore: configure code style with EditorConfig, update ignore files, and add a git cleanup script.
  .editorconfig
  .gitignore
  .prettierignore
  scripts/clean-git.sh
Due: none

docs: Update README with expanded and categorized badges for project status, tech stack, code quality, and stats.
  README.md
Due: prettier --write

docs: add dynamic Lighthouse score badges to README
  README.md
Due: prettier --write

chore: Update astro-embed and prettier-plugin-astro dependencies.
  package-lock.json
  package.json
Due: prettier --write

chore: update astro dependency to 5.16.0
  package-lock.json
  package.json
Due: prettier --write

feat: Add about page, enhance SEO and performance, and improve project page UI.
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/common/SeoHead.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/PhotoGallery.astro
  src/layouts/Base.astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

feat: Implement base layout, common components, and initial content pages for About, Project, and Home Hero sections.
  package-lock.json
  package.json
Due: prettier --write

feat: Add initial Astro components, layouts, and pages for the website.
  .husky/pre-commit
Due: none

feat: Establish initial site structure with base layout, common components, hero, about, and dynamic project pages, and remove pre-commit hook.
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/common/SeoHead.astro
  src/components/features/home/Hero.astro
  src/layouts/Base.astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

chore: Remove husky prepare script from package.json.
  package.json
Due: prettier --write

feat: Add a new `BackgroundAnimation` component to `Hero.astro` and update blob animation properties in Tailwind config.
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/home/Hero.astro
  tailwind.config.cjs
Due: eslint --fix, prettier --write

feat: add Lighthouse CI workflow, update README badges to use generated JSON, and include an animated background feature.
  .github/workflows/lighthouse.yml
  README.md
  lighthouserc.json
Due: prettier --write

chore: Update Lighthouse CI configuration to collect from static dist directory and embed chrome flags.
  .github/workflows/lighthouse.yml
  lighthouserc.json
Due: prettier --write

ci: remove Lighthouse CI workflow and configuration, and update README badge links to an external service.
  .github/workflows/lighthouse.yml
  README.md
  lighthouserc.json
Due: prettier --write

feat: generate and deploy PageSpeed Insights badges via GitHub Actions and update README to display them.
  .github/workflows/pagespeed.yml
  README.md
Due: prettier --write

ci: Add push trigger for master branch, update PageSpeed target URL, and refactor API call using data-urlencode.
  .github/workflows/pagespeed.yml
Due: none

fix: Improve PageSpeed API error detection and reporting by parsing response with jq.
  .github/workflows/pagespeed.yml
Due: none

Change Lighthouse badge URLs for dynamic updates
  README.md
Due: prettier --write

docs: Remove GitHub Actions workflow and update README for Cloudflare Pages deployment.
  .github/workflows/astro.yml
  README.md
Due: prettier --write

perf: Add DNS prefetch and preconnect links, and disable CSS code splitting for improved performance.
  astro.config.mjs
  src/components/common/SeoHead.astro
Due: eslint --fix, prettier --write

build: inline CSS stylesheets to eliminate blocking requests
  astro.config.mjs
Due: eslint --fix, prettier --write

refactor: upgrade Tailwind CSS to v4, migrating configuration to CSS and updating build setup.
  astro.config.mjs
  package-lock.json
  package.json
  src/css/style.css
  src/layouts/Base.astro
  tailwind.config.cjs
Due: eslint --fix, prettier --write, stylelint --fix

docs: Update Tailwind CSS version to 4.x and reflect CSS-first configuration.
  README.md
Due: prettier --write

refactor: Update CSS variable syntax, rename animations, add Tailwind typography plugin, and adjust Stylelint rules and JSON-LD formatting.
  .stylelintrc.json
  src/css/style.css
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add new font dependencies and remove hero section animation classes.
  package-lock.json
  package.json
  src/components/features/home/Hero.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

style: Add global CSS for `lite-youtube` width and aspect ratio.
  src/components/features/projects/VideoPlayer.astro
Due: eslint --fix, prettier --write

feat: adjust UI text colors, and optimize hero image resolution.
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/Post.astro
  src/components/features/projects/PublishDate.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat: mplement Partytown optimizations, and fix CLS for the carbon badge in the footer.
  astro.config.mjs
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

feat: standardize markdown formatting in content MDX files.
  src/content/page/about-me.mdx
  src/content/project/48h-geneve-2024.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/frencha-clip.mdx
  src/content/project/izia-fete-musique.mdx
  src/content/project/izia-proudRebel.mdx
  src/content/project/jimmy-cpdv.mdx
  src/content/project/lamia-clip.mdx
  src/content/project/larev.mdx
  src/content/project/lola-clip.mdx
  src/content/project/nuage.mdx
  src/content/project/paternelle.mdx
  src/content/project/producteur.mdx
  src/content/project/xxcent-sourire.mdx
Due: prettier --write

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

feat: Add Lighthouse report analysis scripts and adjust CSS styling and formatting.
  src/css/style.css
Due: prettier --write, stylelint --fix

docs: Add contribution guidelines, code of conduct, and MIT license, and update README.
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
Due: prettier --write

Remove CodeQL analysis for the `actions` language and apply minor formatting adjustments to the workflow file.
  .github/workflows/codeql.yml
Due: none

fix: ensure Twitter image URL is absolute in SeoHead component.
  src/components/common/SeoHead.astro
Due: eslint --fix, prettier --write

refactor: Update gradient and rotation utility classes and standardize max-width values across pages and components.
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/Post.astro
  src/css/style.css
  src/layouts/Base.astro
  src/pages/about.astro
  src/pages/project/[...page].astro
  src/pages/project/[slug].astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: Implement ServicesPreview and CTASection on the homepage, refine service descriptions, and adjust project card and footer styling.
  src/components/common/CTASection.astro
  src/components/common/Footer.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/Post.astro
  src/pages/about.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: add LocalBusiness schema, geo-targeting meta tags, and location details for improved local SEO
  src/components/common/CTASection.astro
  src/components/common/Footer.astro
  src/components/common/LocalBusinessSchema.astro
  src/components/common/SeoHead.astro
  src/config.mjs
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat: Introduce new CI, dependency review, Lighthouse CI, and PR linting workflows, add a PR template, and update existing CI and Dependabot configurations.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/lint-pr.yml
  .github/workflows/pagespeed.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
