Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: move build-time dependencies to dependencies for Render deployment
  build_output.txt
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🧪 [testing improvement] Fix CI formatting and harden Render deployment
  package-lock.json
  package.json
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

🧹 Remove redundant !important and fix production build
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

chore: fix Render deployment by moving build dependencies to production
  package-lock.json
  package.json
Due: prettier --write

🎨 Palette: Add accessible date labels to PublishDate component
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

🎨 Palette: Accessible Publish Date Labels (aria-label + title via Intl.DateTimeFormat)
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

fix: move build-time dependencies to dependencies section
  package.json
Due: prettier --write

perf: implement bounded concurrency in ImageGallery optimization
  fix_gallery.py
  src/components/ui/ImageGallery.astro
  update_gallery.py
Due: eslint --fix, prettier --write

⚡ Bolt: Fix HamburgerButton event listener leak + O(n) readingTime utility
  src/components/ui/HamburgerButton.astro
  src/utils/readingTime.ts
Due: eslint --fix, prettier --write

🎨 Palette: Fix ModeSwitch theme a11y - dynamic aria-label + live region
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Fix HamburgerButton listener leak + O(n) readingTime utility
  src/components/ui/HamburgerButton.astro
  src/utils/readingTime.ts
Due: eslint --fix, prettier --write

🎨 Palette: ModeSwitch a11y - predictive labels + aria-live region
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

🧹 fix: replace unsafe 'any' types, fix CI formatting, and Render compatibility
  package.json
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Hero animation GPU memory cleanup (will-change reset after animationend)
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

fix: synchronize lockfiles and clean up temporary test directory
  bun.lock
  package-lock.json
Due: prettier --write

⚡ Bolt: Hero animation GPU memory cleanup - reset will-change after animationend
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

🔒 fix: strengthen Referrer-Policy and cleanup temporary files
  .jules/sentinel.md
  bun.lock
  eslint.config.js
  package-lock.json
  package.json
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/projects/PublishDate.astro
  src/components/features/projects/VideoPlayer.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

🧹 fix: resolve CI formatting and Render build dependencies
  package-lock.json
  package.json
  src/utils/a11y.ts
Due: eslint --fix, prettier --write

🧭 DocOps: Update CI (Bun caching, E2E tests) + Deploy (quality gate, image cache)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

🧹 Header CSS cleanup and Render deployment fix
  package.json
Due: prettier --write

🧪 [testing improvement] Fix deployment and harden build portability
  package.json
Due: prettier --write

🧹 chore: remove commented-out font imports and fix deployment
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🧹 fix: move build-time dependencies to dependencies for Render
  bun.lock
  package.json
Due: prettier --write

perf: parallelize HTML processing in CSP generation script
  scripts/generate-csp.mjs
Due: eslint --fix, prettier --write

🎨 Palette: ContactForm email validation + character counter + a11y
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

fix: ensure full compatibility for Render deployment
  package-lock.json
  package.json
Due: prettier --write

🎨 Palette: ContactForm email validation + character counter + timestamp trap spam prevention
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

fix(render): optimize build for Render environment
  bun.lock
  package-lock.json
  package.json
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

⚡ optimize: implement concurrency limit for image optimization
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
  src/utils/async.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Footer carbon badge - IntersectionObserver lazy + astro:page-load cleanup (no memory leaks)
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

chore: fix Render deployment by optimizing scripts and dependencies
  package-lock.json
  package.json
  public/_headers
Due: prettier --write

🧹 chore: fix Render deployment and package.json formatting
  package.json
Due: prettier --write

fix: resolve Render deployment issues and add robots.txt tests (v2)
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix: prevent OOM on Render and sync lockfiles
  package.json
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

fix: optimize package.json and scripts for Render deployment
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🚀 fix: resolve Render deployment failure by moving build dependencies
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🧹 chore: fix Render deployment by migrating to npm run
  package.json
Due: prettier --write

fix: improve Render deployment success and script portability
  e2e/404.spec.ts
  package.json
Due: eslint --fix, prettier --write

🧹 fix: optimize build performance and memory for Render deployment
  package.json
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
