Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(ux): implement 15 accessibility and palette improvements
  .Jules/palette.md
  src/components/common/ContactForm.astro
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/features/home/Hero.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/SocialIcon.astro
  src/css/style.css
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: Enhance UX and accessibility with form input improvements, new button active states, external link indicators, theme color meta tags, and a back-to-top button.
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/css/style.css
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: add project navigation, reading time, scroll progress, and share features, and animate the hamburger icon.
  package-lock.json
  package.json
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/Lightbox.astro
  src/components/ui/Skeleton.astro
  src/components/ui/SocialIcon.astro
  src/css/style.css
  src/pages/404.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: enhance accessibility and improve contact form error handling across components.
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/common/Navigation.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/components/ui/Skeleton.astro
  src/components/ui/SocialIcon.astro
  src/components/ui/TiltCard.astro
  src/css/style.css
  src/layouts/Base.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: Implement PWA manifest and dynamic robots.txt, enhance accessibility with semantic HTML and ARIA, and refine UI/UX across components.
  public/manifest.json
  src/components/common/CTASection.astro
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/common/Header.astro
  src/components/common/SeoHead.astro
  src/components/features/home/Hero.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/PublishDate.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ScrollReveal.astro
  src/css/style.css
  src/layouts/Base.astro
  src/pages/404.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/project/[...page].astro
  src/pages/robots.txt.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: Improve hero text accessibility and animation, optimize CTA orb, refactor theme-color meta, and remove footer text and social icons.
  src/components/common/CTASection.astro
  src/components/common/Footer.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/HamburgerButton.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat: expand Content-Security-Policy-Report-Only to include unpkg, Cloudflare Insights, YouTube, Vimeo, and Website Carbon domains.
  public/_headers
Due: none

feat: enhance image quality and responsiveness for images in hero, project posts, and about sections.
  src/components/features/home/Hero.astro
  src/components/features/projects/Post.astro
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat: Introduce SEO roadmap, enhance accessibility, and refactor image gallery component.
  .Jules/SEO_ROADMAP.md
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/PhotoGallery.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/ImageGallery.astro
  src/pages/404.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

refactor: Remove WebP from image formats, standardizing on AVIF across components and configuration.
  astro.config.mjs
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

refactor: Simplify image `widths` arrays in Picture components and remove trailing commas.
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

fix: correct path avif
  src/content/project/48h-geneve-2025.mdx
Due: prettier --write

fix: ci reuse cache
  .github/workflows/ci.yml
Due: none

fix(csp): relax-csp-policy-to-fix-production
  public/_headers
Due: none

fix(csp): remove-hashes-to-force-unsafe-inline
  public/_headers
Due: none

feat(security): automate csp hash generation post-build
  package-lock.json
  package.json
  public/_headers
  scripts/generate-csp.mjs
Due: eslint --fix, prettier --write

chore: remove Partytown plugin and its dependency.
  astro.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: Broaden SocialIcon's socialUrl prop type to include boolean and refine its conditional rendering, alongside minor CSS and JavaScript class list cleanup.
  src/components/ui/SocialIcon.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

refactor: Reorganize footer layout into a three-column grid, update styling, and enhance the Website Carbon Badge script with a development placeholder.
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

refactor: Update CTA link destination and remove trailing commas.
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

fix: Correct CTA link anchored to homepage and fix Carbon Badge layout issue in footer
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

fix(a11y): Increase footer text contrast for better accessibility
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

build: Set inlineStylesheets to "auto" in Astro configuration
  astro.config.mjs
Due: eslint --fix, prettier --write

chore(perf): Revert inlineStylesheets to 'always' to improve LCP
  astro.config.mjs
Due: eslint --fix, prettier --write

fix(build): Correctly close style tag in Base.astro
  public/fonts/inter-bold.woff2
  public/fonts/inter-regular.woff2
  public/fonts/outfit-bold.woff2
  public/fonts/outfit-light.woff2
  public/fonts/outfit-regular.woff2
  public/fonts/space-grotesk-bold.woff2
  src/components/common/Footer.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat: enhance LCP by preloading the hero logo, implementing caching for static assets, and optimizing image `loading` attributes and letter animation transforms.
  public/_headers
  src/components/features/home/Hero.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

perf: Preload bold font, optimize hero image sizes and quality, and ensure immediate hero logo visibility for LCP.
  src/components/features/home/Hero.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Bolt: 10 performance optimizations
  .Jules/bolt.md
  src/components/common/ContactForm.astro
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/TiltCard.astro
  src/css/style.css
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

⚡ Bolt: 10 additional performance optimizations (Round 2)
  src/components/common/Footer.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/projects/Post.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/HamburgerButton.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

⚡ Fix LCP and improve caching
  public/_headers
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Fix forced layout thrashing in ModeSwitch
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

⚡ Fix preconnect hints - move to top of head
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

⚡ Fix LCP element display delay
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

⚡ Fix broken menu and observer robustness
  src/components/common/Navigation.astro
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

⚡ Fix Website Carbon Badge persistence on navigation
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

⚡ Fix Carbon Badge persistence (Production)
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

⚡ Fix Lightbox navigation issue (PR #64)
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

feat: Integrate external link handling for MDX, enhance contact form with validation and rate limiting, and improve security through CSP updates, iframe sandboxing, and safer DOM manipulation.
  astro.config.mjs
  package-lock.json
  package.json
  public/_headers
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/Breadcrumbs.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

refactor: reimplement magnetic buttons with wrapper/target pattern to prevent flickering and apply minor performance optimizations.
  .Jules/bolt.md
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/ScrollReveal.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
