Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

🎨 Palette: Navigation Tactile Feedback (x3)
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

🎨 Palette: Navigation Tactile Feedback (x3) (#1331)
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

🎨 Palette: Navigation Tactile Feedback (x3)
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/pnpm-audit.yml
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

🎨 Palette: Hover-Lift Consistency (x4)
  src/components/common/ContactForm.astro
  src/components/features/home/Hero.astro
  src/components/ui/EmptyState.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

🎨 Palette: Hover-Lift Consistency (x4) (#1332)
  src/components/common/ContactForm.astro
  src/components/features/home/Hero.astro
  src/components/ui/EmptyState.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

palette: interaction consistency and tag page layout fixes
  src/components/common/CTASection.astro
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/components/ui/Tag.astro
  src/pages/about.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

palette: interaction consistency and tag page layout fixes (with formatting)
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

🎨 Palette: Interaction Consistency & Tag Page UX (x6) (#1333)
  src/components/common/CTASection.astro
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/components/ui/Tag.astro
  src/pages/about.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

docs: clarify client/server env variables and enhance codeql security
  .github/workflows/codeql.yml
  .jules/docops-history.md
  docs/AI.md
  docs/ENV.md
Due: prettier --write

docs: clarify client/server env variables and enhance codeql security (#1334)
  .github/workflows/codeql.yml
  .jules/docops-history.md
  docs/AI.md
  docs/ENV.md
Due: prettier --write

🎨 Palette: Consistent CTA Tactile Feedback (x5)
  src/pages/404.astro
  src/pages/cv/[...lang].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Consistent CTA Tactile Feedback (x5) (#1335)
  src/pages/404.astro
  src/pages/cv/[...lang].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Implement site-wide anchor link highlight feedback
  .jules/palette.md
  src/components/common/ContactForm.astro
  src/css/style.css
  src/env.d.ts
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

🎨 Palette: Implement site-wide anchor link highlight feedback (#1336)
  .jules/palette.md
  src/components/common/ContactForm.astro
  src/css/style.css
  src/env.d.ts
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

doc(readme,arch): fix pnpm links, versions, and tech stack manager
  .jules/docops-history.md
  README.md
  docs/ARCHITECTURE.md
Due: prettier --write

🛡️ Sentinel: Add input length limits to prevent DoS
  .jules/sentinel.md
  src/utils/security.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Add input length limits to prevent DoS (#1338)
  .jules/sentinel.md
  src/utils/security.ts
Due: eslint --fix, prettier --write

Add aria-pressed state to theme toggle button
  .jules/palette.md
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

Add aria-pressed state to theme toggle button (#1339)
  .jules/palette.md
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

🎨 Palette: [UX improvement] - Scroll padding and tactile feedback harmonization
  .jules/palette.md
  src/components/common/ContactForm.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/AuthorInfo.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🎨 Palette: [UX improvement] - Scroll padding and tactile feedback harmonization (#1340)
  .jules/palette.md
  src/components/common/ContactForm.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/AuthorInfo.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore: update docs for testing and security scans
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/TESTING.md
Due: prettier --write

chore: update docs for testing and security scans (#1341)
  .github/workflows/dependency-review.yml
  .jules/docops-history.md
  README.md
  docs/TESTING.md
Due: prettier --write

🎨 Palette: Wrap footer social links in nav landmark
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

🎨 Palette: Wrap footer social links in nav landmark (#1342)
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add tactile feedback to pagination buttons
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

🎨 Palette: Add tactile feedback to pagination buttons (#1343)
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Add security headers and prevent timeout leak in API
  .jules/sentinel.md
  functions/api/submit.ts
  tests/functions/submit.test.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Add security headers and prevent timeout leak in API (#1344)
  .jules/sentinel.md
  functions/api/submit.ts
  tests/functions/submit.test.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix resource exhaustion in fetch timeouts
  .jules/sentinel.md
  src/pages/og/[slug].png.ts
  src/utils/async.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Fix resource exhaustion in fetch timeouts (#1345)
  .jules/sentinel.md
  src/pages/og/[slug].png.ts
  src/utils/async.ts
Due: eslint --fix, prettier --write

🎨 Palette: Enhance contact form loading state
  .jules/palette.md
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhance contact form loading state (#1346)
  .jules/palette.md
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Tactile Feedback Consistency (x2)
  .jules/palette.md
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

🎨 Palette: Tactile Feedback Consistency (x2) (#1347)
  .jules/palette.md
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add tactile feedback and contextual shortcut hints to project navigation
  .jules/palette.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🎨 Palette: Add tactile feedback and contextual shortcut hints to project navigation (#1349)
  .jules/palette.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🧭 DocOps: docs + GitHub workflows
  .jules/docops-history.md
  docs/ARCHITECTURE.md
  docs/ENV.md
Due: prettier --write

🛡️ Sentinel: [MEDIUM] Fix resource leak in contact form
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Contextual Reveal for keyboard shortcuts
  src/components/common/Navigation.astro
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write
