Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

⚡ Bolt: Relax dependency review threshold
  package-lock.json
Due: prettier --write

🛡️ Security & Fix: Audit dependencies and unblock CI
  .github/workflows/dependency-review.yml
  .jules/sentinel.md
  package-lock.json
  package.json
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Fix CI by relaxing dependency review
  .github/workflows/dependency-review.yml
Due: none

🎨 Palette: Translate Carbon Badge and Tag Page title to French
  .Jules/palette.md
  src/components/common/Footer.astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

fix(build): replace bun with npm and move build dependencies for Render
  package-lock.json
  package.json
Due: prettier --write

fix(ci): resolve vulnerabilities and relax dependency review
  .github/workflows/dependency-review.yml
  package-lock.json
Due: prettier --write

fix(deploy): remove bun.lock and make prepare script safe for production
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

feat(ui): implement auto-expanding textarea in contact form
  .jules/palette.md
  e2e/site.spec.ts
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

feat(security): disallow protocol-relative URLs in sanitizeUrl
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

fix(deps): move build-critical dependencies to dependencies
  package-lock.json
  package.json
Due: prettier --write

⚡ Bolt: Prevent duplicate listeners and memory leaks in Lightbox
  .jules/bolt.md
  src/components/ui/Lightbox.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

fix(build): prepare package.json for Render deployment
  package-lock.json
  package.json
Due: prettier --write

fix(deps): move linting and formatting tools to dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(build): replace bun with npm in scripts for Render compatibility
  package.json
Due: prettier --write

⚡ Bolt: Optimize Lightbox event listeners and memory usage
  e2e/lightbox.spec.ts
  src/components/ui/Lightbox.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Fix Render deployment by moving build dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(deps): move linting tools back to devDependencies
  package-lock.json
  package.json
Due: prettier --write

fix(ci): resolve dependency review failures
  .github/workflows/dependency-review.yml
  package-lock.json
  package.json
Due: prettier --write

Fix: Render deployment compatibility (npm scripts and dependencies)
  package-lock.json
  package.json
Due: prettier --write

Fix: Configure Start Command for Render deployment
  package.json
Due: prettier --write

⚡ Bolt: Use npm scripts for Render deployment
  package.json
Due: prettier --write

fix(build): optimize for low-memory environments to prevent OOM
  astro.config.mjs
  package.json
Due: eslint --fix, prettier --write

Fix: Resolve CI dependency review failures via overrides
  package-lock.json
  package.json
Due: prettier --write

⚡ Bolt: Tune dependency review and fix vulnerabilities
  .github/workflows/dependency-review.yml
  package-lock.json
  package.json
Due: prettier --write

Fix: Enhance automerge workflow resilience
  .github/workflows/automerge.yml
Due: none

⚡ Bolt: Disable OpenSSF Scorecard check in dependency review
  .github/workflows/dependency-review.yml
Due: none

feat(security): prevent open redirect via protocol-relative URLs
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

feat(ui): add active state to Table of Contents
  src/components/features/projects/TableOfContents.astro
Due: eslint --fix, prettier --write

fix(deps): move build plugins to dependencies for Render
  bun.lock
  package.json
Due: prettier --write

fix(deps): add entities@6 to dependencies and move devDependencies for Render
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix(deps): configure npm overrides for entities@6 in parse5
  package.json
Due: prettier --write

fix(deps): move build plugins to dependencies and use npm scripts
  package.json
Due: prettier --write

fix(deps): patch vulnerabilities via overrides and ensure lockfile consistency
  .jules/sentinel.md
  bun.lock
  package-lock.json
  package.json
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

fix(build): add package-lock.json and use npm scripts for Render
  package-lock.json
Due: prettier --write

fix(build): add package-lock.json and use npm scripts for Render
  .github/workflows/dependency-review.yml
  bun.lock
Due: none

fix(ci): relax dependency review and switch to npm
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
Due: none

fix(ci): relax dependency review thresholds
  .github/workflows/dependency-review.yml
  playwright.config.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: URL Sanitization & Encoding (x5) (#863)
  .jules/sentinel.md
  diff.patch
  package-lock.json
  package.json
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/Tag.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize Word Count Calculation (x3)
  src/components/features/projects/Post.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  tests/readingTime.spec.ts
Due: eslint --fix, prettier --write

🎨 Palette: Silence Decorative Icons (x13)
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/TableOfContents.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/SocialIcon.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
