Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

style: add trailing commas to project sorting and filtering logic.
  src/pages/project/[...page].astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write

refactor: Replace CSS `@apply` directives with explicit styles, update selection text color, and adjust linting configurations.
  .github/workflows/lint-pr.yml
  .stylelintrc.json
  src/css/style.css
  src/pages/rss.xml.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add 404 page, implement Astro View Transitions, and refine UI styling and performance across components.
  src/components/common/CTASection.astro
  src/components/common/Navigation.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/Post.astro
  src/components/ui/ModeSwitch.astro
  src/css/style.css
  src/layouts/Base.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: Implement dynamic Open Graph image generation, add JSON-LD for SEO, and enhance security with new headers and policy.
  README.md
  SECURITY.md
  astro.config.mjs
  package-lock.json
  package.json
  public/_headers
  src/components/common/SeoHead.astro
  src/pages/index.astro
  src/pages/og/[slug].png.ts
Due: eslint --fix, prettier --write

feat: Install Husky with a lint-staged pre-commit hook and downgrade CI action versions.
  .github/workflows/ci.yml
  .husky/pre-commit
  package.json
Due: prettier --write

chore: add trailing comma to animation options object
  src/components/features/home/BackgroundAnimation.astro
Due: eslint --fix, prettier --write

style: Adjust `currentcolor` casing and add spacing for readability.
  src/css/style.css
Due: prettier --write, stylelint --fix

feat: Implement Web3Forms contact form, integrate icons for skills and services, and update associated UI elements and configuration.
  .env.example
  package-lock.json
  package.json
  src/components/common/CTASection.astro
  src/components/common/ContactForm.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/VideoPlayer.astro
  src/content/page/about-me.mdx
  src/pages/about.astro
  src/pages/project/[slug].astro
  tsconfig.json
Due: eslint --fix, prettier --write

feat: remove unused page collection definition
  src/content/config.ts
Due: eslint --fix, prettier --write

feat: Migrate icon rendering from `iconify-icon` web component to `astro-icon` component.
  src/components/features/home/ServicesPreview.astro
Due: eslint --fix, prettier --write

feat: update favicon to display 'SD' text
  public/favicon.svg
Due: none

refactor: Encapsulate dark mode script, improve SEO performance, and adjust contact form text opacity.
  src/components/common/ContactForm.astro
  src/components/common/SeoHead.astro
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

feat: implement responsive images and update components
  .gitignore
  package-lock.json
  package.json
  public/samuel-dulex-cv.pdf
  scripts/optimize-images.js
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/content/author/samuel.json
  src/content/project/48h-geneve-2024.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/frencha-clip.mdx
  src/content/project/izia-fete-musique.mdx
  src/content/project/izia-proudRebel.mdx
  src/content/project/jimmy-cpdv.mdx
  src/content/project/lamia-clip.mdx
  src/content/project/larev.mdx
  src/content/project/lola-clip.mdx
  src/content/project/nuage.mdx
  src/content/project/paternelle.mdx
  src/content/project/producteur.mdx
  src/content/project/xxcent-sourire.mdx
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

style: Remove `object-cover` and `h-64` classes from gallery images and resolve minor formatting issues.
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

Remove unused `Image` import and a `console.log` statement.
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

refactor: Change collection from 'page' to 'project' and remove redundant type assignment.
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

style: Adjust image styling by adding a height attribute and simplifying class definitions.
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat: Add `fallbackFormat="avif"` to Astro Image components, refine header image attributes, and clean up image gallery imports.
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

feat: Update image `sizes` attributes to serve higher resolution images on high-DPI displays.
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
Due: eslint --fix, prettier --write

feat(ui): refine hero text gradients and improve accessibility
  .lighthouserc.json
  scripts/optimize-images.js
  src/assets/slide-1.avif
  src/assets/slide-2.avif
  src/assets/slide-3.avif
  src/assets/slide-4.avif
  src/assets/slide-5.avif
  src/components/common/Footer.astro
  src/components/common/Header.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/Post.astro
  src/components/ui/SocialIcon.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

perf: optimize PageSpeed critical request chain
  astro.config.mjs
  src/css/style.css
  src/layouts/Base.astro
Due: eslint --fix, prettier --write, stylelint --fix

perf: use GPU-accelerated hue-rotate animation instead of background-position
  src/css/style.css
Due: prettier --write, stylelint --fix

perf: add early preconnects for external origins and use GPU-accelerated animation
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat: Add Lighthouse report analysis script and relocate preconnect links to Base layout.
  analyze_lighthouse.cjs
  src/components/common/SeoHead.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

refactor: replace image `h-auto` class with `aspect-[4/3]` for consistent sizing
  src/components/features/projects/Post.astro
Due: eslint --fix, prettier --write

feat(ux): enhanced UI with animations, 2-col layout, and smooth transitions
  src/components/common/CTASection.astro
  src/components/common/ContactForm.astro
  src/components/features/home/Hero.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/LatestPosts.astro
  src/components/features/projects/Post.astro
  src/components/ui/CustomCursor.astro
  src/components/ui/PageTransition.astro
  src/components/ui/ParticleBackground.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/Skeleton.astro
  src/components/ui/TiltCard.astro
  src/css/style.css
  src/pages/about.astro
  src/pages/index.astro
  src/pages/project/[...page].astro
  src/pages/project/tag/[tag].astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(home): randomize hero carousel & update docs
  README.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

feat: refactor gallery system with lightbox
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/content/project/48h-geneve-2025.mdx
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat: improve project card UI/UX
  src/components/features/projects/Post.astro
  src/components/features/projects/PublishDate.astro
  src/components/ui/Tag.astro
Due: eslint --fix, prettier --write

feat: Improve card corner rounding and overflow handling, and refine description clamping and hover reveal.
  src/components/features/projects/Post.astro
Due: eslint --fix, prettier --write

fix: ts errors
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

fix: resolve linting issues and remove unused component
  src/components/common/ContactForm.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/ui/ParticleBackground.astro
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat: improve hero carousel - better resolution, touch scroll, slower animation, fix shadow clipping
  src/components/features/home/Hero.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

refactor: Shorten project titles in MDX files for improved conciseness.
  src/content/project/48h-geneve-2024.mdx
  src/content/project/48h-geneve-2025.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/48h-vevey-2025.mdx
  src/content/project/corps-et-ame.mdx
  src/content/project/frencha-clip.mdx
  src/content/project/izia-fete-musique.mdx
  src/content/project/izia-proudRebel.mdx
  src/content/project/jimmy-cpdv.mdx
  src/content/project/lamia-clip.mdx
  src/content/project/larev.mdx
  src/content/project/lola-clip.mdx
  src/content/project/nuage.mdx
  src/content/project/paternelle-2024.mdx
  src/content/project/paternelle-2025.mdx
  src/content/project/paternelle.mdx
  src/content/project/producteur.mdx
  src/content/project/xxcent-sourire.mdx
Due: prettier --write

feat: Add Vimeo support and dynamic poster image handling to VideoPlayer component, updating project video links.
  src/components/features/projects/VideoPlayer.astro
  src/content/project/48h-geneve-2024.mdx
  src/content/project/corps-et-ame.mdx
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

feat: Enhance Vimeo video playback to support hashes and update a project's video URL to Vimeo.
  src/components/features/projects/VideoPlayer.astro
  src/content/project/48h-lausanne-2024.mdx
Due: eslint --fix, prettier --write

feat: Add agent context documentation for the ProfilePro project.
  agent.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
