Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

chore: 🎨 palette - micro-ux polish and accessibility improvements (#980)
  .jules/palette.md
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/Tag.astro
Due: eslint --fix, prettier --write

chore(docs): audit workflows and update docops history
  .jules/docops-history.md
Due: prettier --write

chore(docs): audit workflows and update docops history (#981)
  .jules/docops-history.md
Due: prettier --write

chore: fix modeswitch memory leak and redundant DOM queries
  patch2
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

chore: fix modeswitch memory leak and redundant DOM queries (#982)
  patch2
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

chore(a11y): remove focusable backdrop in lightbox to fix redundant focus stop
  .jules/palette.md
  e2e/site.spec.ts
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

chore(a11y): remove focusable backdrop in lightbox to fix redundant focus stop (#983)
  .jules/palette.md
  e2e/site.spec.ts
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

🎨 Palette: Interactive shine effect for TiltCard
  src/components/ui/TiltCard.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

🎨 Palette: Interactive shine effect for TiltCard (#984)
  src/components/ui/TiltCard.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

perf: optimize Lightbox image collection using lazy scoped queries
  .jules/bolt.md
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

perf: optimize Lightbox image collection using lazy scoped queries (#985)
  .jules/bolt.md
  src/components/ui/Lightbox.astro
Due: eslint --fix, prettier --write

chore(docs,ci): update package manager to pnpm and clean workspace
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
  README.md
  package.json
Due: prettier --write

fix(ci): run setup-pnpm before setup-node to fix caching errors
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

🧭 DocOps: docs + GitHub workflows (#986)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
  README.md
  package.json
Due: prettier --write

chore: optimize tag extraction to use a single O(N) pass
  .jules/bolt.md
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

chore: optimize tag extraction to use a single O(N) pass (#988)
  .jules/bolt.md
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

perf(hero): eliminate O(N) array mapping for carousel images
  .jules/bolt.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

perf(hero): eliminate O(N) array mapping for carousel images (#989)
  .jules/bolt.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

feat: optimize image loading in MDX files
  src/content/project/48h-geneve-2024.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/jimmy-cpdv.mdx
  src/content/project/larev.mdx
  src/content/project/paternelle.mdx
Due: prettier --write

chore: remove redundant cursor-pointer from standard links
  src/components/features/home/Hero.astro
  src/components/ui/EmptyState.astro
  src/pages/404.astro
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

chore: remove redundant cursor-pointer from standard links (#991)
  src/components/features/home/Hero.astro
  src/components/ui/EmptyState.astro
  src/pages/404.astro
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Optimized Image Loading (x10) (#990)
  src/content/project/48h-geneve-2024.mdx
  src/content/project/48h-lausanne-2024.mdx
  src/content/project/jimmy-cpdv.mdx
  src/content/project/larev.mdx
  src/content/project/paternelle.mdx
Due: prettier --write

perf(toc): Optimize Table of Contents IntersectionObserver from O(N) to O(1)
  .jules/bolt.md
  src/components/features/projects/TableOfContents.astro
Due: eslint --fix, prettier --write

perf(toc): Optimize Table of Contents IntersectionObserver from O(N) to O(1) (#992)
  .jules/bolt.md
  src/components/features/projects/TableOfContents.astro
Due: eslint --fix, prettier --write

chore: DocOps: docs + GitHub workflows
  .github/workflows/ci.yml
  .jules/docops-history.md
  README.md
Due: prettier --write

🎨 Palette: Add unified ARIA label to Latest Projects CTA card
  .jules/palette.md
  src/components/features/projects/LatestPosts.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add unified ARIA label to Latest Projects CTA card (#993)
  .jules/palette.md
  src/components/features/projects/LatestPosts.astro
Due: eslint --fix, prettier --write

perf(PublishDate): cache Intl.DateTimeFormat instance to avoid expensive instantiation
  .jules/bolt.md
  src/components/features/projects/PublishDate.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

perf(PublishDate): cache Intl.DateTimeFormat instance to avoid expensive instantiation (#994)
  .jules/bolt.md
  src/components/features/projects/PublishDate.astro
  src/env.d.ts
Due: eslint --fix, prettier --write

feat(a11y): Make background content inert when mobile menu is open
  .jules/palette.md
  src/components/common/Header.astro
Due: eslint --fix, prettier --write

feat(a11y): Make background content inert when mobile menu is open (#995)
  .jules/palette.md
  src/components/common/Header.astro
Due: eslint --fix, prettier --write

chore(a11y): add aria-hidden to visually redundant project nav text
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

chore(a11y): add aria-hidden to visually redundant project nav text (#997)
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

chore: lazy evaluate LCP image for Hero Logo in Base layout
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore: lazy evaluate LCP image for Hero Logo in Base layout (#998)
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

chore(docs): audit documentation and workflows
  .jules/docops-history.md
Due: prettier --write

chore(docs): audit documentation and workflows (#999)
  .jules/docops-history.md
Due: prettier --write

feat: Apply inert to background content when mobile menu is open
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

feat: Apply inert to background content when mobile menu is open (#1000)
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write
