Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,mdx,json}": ["prettier --write"]
}

Fix Render deployment by moving build dependencies
  package.json
Due: prettier --write

build: sync lockfiles after dependency move
  bun.lock
  package-lock.json
Due: prettier --write

fix: move build dependencies to dependencies for production deploy
  bun.lock
  package.json
Due: prettier --write

fix: replace bun run with npm run in scripts
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  package.json
Due: prettier --write

Refresh lockfiles to fix CI
  bun.lock
  package-lock.json
Due: prettier --write

fix(ci): regenerate bun.lock with Bun v1.3.8
  bun.lock
Due: none

fix(deps): move cheerio to dependencies for render build
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix: pin bun version and restore secrets in workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .jules/docops-history.md
Due: prettier --write

Fix Render deployment by moving more build deps to dependencies
  bun.lock
  package.json
Due: prettier --write

fix: move build deps to dependencies and regenerate lockfile
  e2e/contact-validation.spec.ts
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

fix: sync package-lock.json and move build deps to dependencies
  package-lock.json
Due: prettier --write

🛡️ Sentinel: Fix potential XSS in videoUrl and harden URL validation
  src/content/config.ts
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Optimize reading time calc and fix SPA listeners
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/readingTime.test.ts
  src/utils/readingTime.ts
Due: eslint --fix, prettier --write

feat(ux): add validation icon to email input
  .jules/palette.md
  e2e/contact-validation.spec.ts
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

style: fix formatting in content config
  src/content/config.ts
Due: eslint --fix, prettier --write

⚡ Bolt: Fix code formatting in project/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

fix(build): move build dependencies to dependencies for Render
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

⚡ Bolt: Move build dependencies to dependencies for Render
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix(build): move build dependencies to dependencies
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

⚡ Bolt: Fix Render build scripts and dependencies
  package.json
Due: prettier --write

fix(build): move dependencies and use npm in build script
  package-lock.json
  package.json
Due: prettier --write

fix(deps): make prepare script production-safe
  package.json
Due: prettier --write

fix(ci): regenerate lockfiles to sync with package.json
  bun.lock
  package-lock.json
Due: prettier --write

fix(deps): promote build and icon deps to dependencies
  .jules/palette.md
  bun.lock
  e2e/contact-validation.spec.ts
  package-lock.json
  package.json
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

perf: batch image optimization in ImageGallery to reduce memory usage
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

fix: format ImageGallery.astro to pass CI checks
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

feat: enforce strict CSP by removing inline styles
  .jules/sentinel.md
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/EmptyState.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/SocialIcon.astro
  src/components/ui/Tag.astro
  src/components/ui/TiltCard.astro
  src/layouts/Base.astro
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

fix(ui): resolve ModeSwitch duplicate events and a11y issues
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

chore: sync lockfiles for deployment
  bun.lock
  package-lock.json
Due: prettier --write

fix: move build dependencies to dependencies for Render
  bun.lock
  package-lock.json
  package.json
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

fix: replace bun run with npm run in build scripts for Render compatibility
  package-lock.json
  package.json
Due: prettier --write

fix: ensure dependencies are correctly registered in lockfiles
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix: move build dependencies to dependencies for Render
  .jules/sentinel.md
  package-lock.json
  package.json
  src/components/common/Header.astro
  src/components/common/Navigation.astro
  src/components/features/home/BackgroundAnimation.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/Post.astro
  src/components/features/projects/ProjectFilter.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/EmptyState.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/ScrollReveal.astro
  src/components/ui/SocialIcon.astro
  src/components/ui/Tag.astro
  src/components/ui/TiltCard.astro
  src/layouts/Base.astro
  src/pages/project/[...page].astro
Due: eslint --fix, prettier --write

fix: update bun.lock to sync with package.json changes
  bun.lock
Due: none

fix(build): prepare package.json for Render deployment
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix(build): prepare package.json for Render deployment
  bun.lock
  package-lock.json
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

Refactor event listeners in ModeSwitch and HamburgerButton to prevent memory leaks; remove dead CSS animations.
  src/components/ui/HamburgerButton.astro
  src/components/ui/ModeSwitch.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

🎨 Palette: The Interaction Polisher (x4)
  src/components/common/ContactForm.astro
  src/components/features/home/Hero.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

fix(deps): move build-time dependencies to production dependencies
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

🛡️ Sentinel: Harden DOM usage and unify Copy Code feature
  .jules/sentinel.md
  src/pages/[slug].astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write
