Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

🚀 [fix] improve Render compatibility and build performance
  bun.lock
  package-lock.json
  package.json
  scripts/optimize-images.js
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

🧹 Header CSS cleanup and Render deployment fixes
  package.json
  src/components/common/Header.astro
Due: eslint --fix, prettier --write

🧹 fix: harden build for Render and resolve deployment blockers
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix: resolve Render deployment issues by optimizing image processing and restoring Bun
  bun.lock
  home_optimized.png
  package-lock.json
  package.json
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

🔒 fix: strengthen Referrer-Policy and fix lint issues
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

⚡ optimize: implement concurrency limit and fix Render deployment
  package-lock.json
  package.json
Due: prettier --write

🔒 security: implement server-side rate limiting and fix lint/E2E issues
  bun.lock
  functions/api/submit.ts
  package-lock.json
  package.json
  src/components/common/ContactForm.astro
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

fix: resolve CI/CD failures and sync with master
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .jules/sentinel.md
  bun.lock
  diff.patch
  eslint.config.js
  fix_gallery.py
  package-lock.json
  package.json
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/components/features/projects/PublishDate.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ModeSwitch.astro
  src/layouts/Base.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/readingTime.ts
  src/utils/security.test.ts
  update_gallery.py
Due: eslint --fix, prettier --write

fix: optimize build scripts for memory-constrained environments
  bun.lock
  package-lock.json
  package.json
  scripts/generate-csp.mjs
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

🧹 fix: resolve Render build timeout and memory issues
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/Post.astro
  src/components/ui/ImageGallery.astro
  src/pages/[slug].astro
  src/pages/about.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

perf: limit concurrency in image optimization and fix Render build
  package.json
Due: prettier --write

🧪 [testing improvement] Fix Render deployment and optimize build
  package-lock.json
  package.json
  tests/security.test.ts
Due: eslint --fix, prettier --write

🚀 fix: resolve Render deployment failure and refactor sharing logic
  bun.lock
  package-lock.json
  package.json
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

🧹 fix: resolve Render deployment failure by hardening build configuration
  package-lock.json
  package.json
Due: prettier --write

📦 fix: move build dependencies to prevent Render deployment failures
  bun.lock
  package.json
Due: prettier --write

fix(render): robust build and dependency management for Render
  bun.lock
  package-lock.json
  package.json
  scripts/generate-csp.mjs
  scripts/optimize-images.js
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

🚀 fix: resolve Render deployment failure and refactor sharing logic
  package-lock.json
  package.json
Due: prettier --write

🚀 [fix] resolve Render deployment OOM by switching to sequential image processing
  package.json
  src/components/features/home/Hero.astro
  src/components/ui/ImageGallery.astro
Due: eslint --fix, prettier --write

fix: ensure Render deployment compatibility
  package.json
Due: prettier --write

chore: fix Render deployment and optimize build
  astro.config.mjs
  bun.lock
  fix_config.py
  fix_config_v2.py
  package-lock.json
  package.json
  public/_headers
  scripts/optimize-images.js
  src/components/features/projects/PublishDate.astro
Due: eslint --fix, prettier --write

📦 fix: optimize build scripts for Render and package manager compatibility
  package-lock.json
  package.json
  public/_headers
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

perf: optimize image processing to prevent build timeouts on Render
  astro.config.mjs
  scripts/optimize-images.js
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

fix(security): prevent protocol-relative URLs in sanitizeUrl
  src/components/features/home/Hero.astro
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

fix(lint): resolve ESLint console and unused var errors
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/pages/[slug].astro
  test_url.ts
Due: eslint --fix, prettier --write

fix(build): replace bun with npm/node in scripts for Render compatibility
  package.json
Due: prettier --write

fix(build): regenerate package-lock.json to match package.json changes
  package-lock.json
Due: prettier --write

fix: optimize build for Render deployment
  src/components/features/home/Hero.astro
  src/components/features/projects/Post.astro
  src/pages/[slug].astro
  src/pages/project/[slug].astro
  src/utils/security.ts
Due: eslint --fix, prettier --write

fix(security): block protocol-relative URLs in sanitizeUrl
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

fix(ci): format code and resolve linting errors
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/pages/[slug].astro
  test_url.ts
Due: eslint --fix, prettier --write

fix(build): move build dependencies to dependencies for Render
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fix(build): replace bun run with npm run for Render compatibility
  package.json
Due: prettier --write

fix(ci): update bun.lock to match package.json
  bun.lock
Due: none

Fix Open Redirect vulnerability in sanitizeUrl utility
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

Fix CI failures by resolving formatting and linting errors
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/pages/[slug].astro
  test_url.ts
Due: eslint --fix, prettier --write

Move build dependencies to dependencies for Render deployment
  package-lock.json
  package.json
Due: prettier --write

Replace bun run with npm run in package scripts for deployment compatibility
  package.json
Due: prettier --write

🎨 Palette: Refactor Theme Switcher to Semantic Switch & Fix Leaks
  .jules/palette.md
  src/components/features/home/Hero.astro
  src/components/ui/ModeSwitch.astro
Due: eslint --fix, prettier --write

🎨 Palette: Fix linting errors & Refactor Theme Switcher to Semantic Switch
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/pages/[slug].astro
  test_url.ts
Due: eslint --fix, prettier --write

feat(security): prevent open redirect in sanitizeUrl
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

style: fix formatting and lint issues to pass CI
  .jules/sentinel.md
  bun.lock
  src/components/common/ContactForm.astro
  src/components/common/Footer.astro
  src/components/features/home/Hero.astro
  src/pages/[slug].astro
  src/utils/security.test.ts
  src/utils/security.ts
  test_url.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
