Repository kuasar-mknd/profilePro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor(ui): modernize website carbon badge styling
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

style: fix formatting in Footer.astro for CI
  src/components/common/Footer.astro
Due: eslint --fix, prettier --write

ci: add astro cache for faster builds
  .github/workflows/ci.yml
Due: none

chore: update bun.lock to match dependencies
  bun.lock
Due: none

chore: fix formatting and merge master
  src/components/features/home/Hero.astro
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

chore: fix formatting issues in Hero.astro and Footer.astro
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

chore: remove duplicate uppercase .Jules directory
  .Jules/SEO_ROADMAP.md
  .Jules/bolt.md
  .Jules/palette.md
  .Jules/sentinel.md
Due: prettier --write

chore: update bun.lock
  bun.lock
Due: none

feat(UX): add copy code buttons and improve sharing feedback
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

fix(sentinel): fix unused import and test assertions
  src/components/ui/SocialIcon.astro
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

chore: Apply linting fixes and move e2e tests
  e2e/site.spec.ts
  playwright.config.ts
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

chore: Exclude test files from tsconfig to fix typecheck
  tsconfig.json
Due: prettier --write

🛡️ Sentinel: Hardened URL validation and input sanitization
  .jules/sentinel.md
  src/components/common/ContactForm.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/SocialIcon.astro
  src/layouts/Base.astro
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

🛡️ Sentinel: Hardened URL validation and input sanitization
  src/components/ui/SocialIcon.astro
Due: eslint --fix, prettier --write

⚡ Bolt: Cleaned 18+ unused assets and dead code
  analyze_lighthouse.cjs
  src/assets/BCP_45_Insta_Affiche_2.avif
  src/assets/BCP_STORY_Antoine.avif
  src/assets/BCP_STORY_Aurane.avif
  src/assets/slide-2.avif
  src/assets/slide-3.avif
  src/assets/slide-4.avif
  src/assets/slide-5.avif
  src/icons/dribbble.svg
  src/icons/facebook.svg
  src/icons/github.svg
  src/icons/instagram.svg
  src/icons/mastodon.svg
  src/icons/messenger.svg
  src/icons/pinterest.svg
  src/icons/skype.svg
  src/icons/twitter.svg
  src/icons/youtube.svg
Due: eslint --fix, prettier --write

feat(ui): add tactile feedback to interactive elements
  src/components/common/Footer.astro
  src/components/common/Navigation.astro
  src/components/features/home/ServicesPreview.astro
  src/components/features/projects/AuthorInfo.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/HamburgerButton.astro
  src/components/ui/ImageGallery.astro
  src/components/ui/Lightbox.astro
  src/components/ui/ModeSwitch.astro
  src/components/ui/SocialIcon.astro
  src/pages/404.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Security enhancements and fixes
  .jules/sentinel.md
  public/.well-known/security.txt
  src/layouts/Base.astro
  src/utils/security.ts
  tests/security.spec.ts
Due: eslint --fix, prettier --write

🎨 Palette: Project Navigation Keyboard Shortcuts
  .jules/palette.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: Transient Animation Cleanup
  .jules/bolt.md
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

docs: update contributing and workflows for bun and manual triggers
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .jules/docops-history.md
  .lighthouserc.json
  CONTRIBUTING.md
Due: prettier --write

feat(project): add table of contents to project detail pages
  .jules/palette.md
  src/components/features/projects/TableOfContents.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

feat(perf): implement tiered speculation rules
  .jules/bolt.md
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat: validate Vimeo OEmbed thumbnail URL for security
  .jules/sentinel.md
  src/components/features/projects/VideoPlayer.astro
Due: eslint --fix, prettier --write

perf: cleanup will-change on Hero animation end
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

feat(ux): add keyboard navigation for projects
  .jules/palette.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

🛡️ Sentinel: Harden Contact Form spam protection
  .jules/sentinel.md
  e2e/contact-security.spec.ts
  e2e/screenshots/contact-security-error.png
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

fix(security): prevent timestamp trap bypass in contact form
  src/components/common/ContactForm.astro
  src/utils/security.test.ts
Due: eslint --fix, prettier --write

Refactor HamburgerButton to fix event listener leaks
  src/components/ui/HamburgerButton.astro
Due: eslint --fix, prettier --write

feat(ui): make project tags clickable and improve a11y
  .jules/palette.md
  src/components/ui/Tag.astro
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

⚡ Bolt: The Cleaner (x6)
  src/components/features/home/Hero.astro
  src/components/icons/github.astro
  src/components/icons/instagram.astro
  src/components/icons/youtube.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

feat(security): harden input sanitization and URL validation (x6)
  src/components/common/ContactForm.astro
  src/components/features/projects/VideoPlayer.astro
  src/components/ui/SocialIcon.astro
  src/utils/security.ts
Due: eslint --fix, prettier --write

feat: improve contrast and interaction feedback (Palette Batch x7)
  astro_log.txt
  src/components/common/CTASection.astro
  src/components/common/ContactForm.astro
  src/components/features/projects/Post.astro
  src/components/ui/Breadcrumbs.astro
  src/components/ui/EmptyState.astro
  src/components/ui/SocialIcon.astro
  src/css/style.css
Due: eslint --fix, prettier --write, stylelint --fix

🛡️ Sentinel: Fix Contact Form bypass and harden link security
  .jules/sentinel.md
  src/components/common/ContactForm.astro
  src/layouts/Base.astro
Due: eslint --fix, prettier --write

🎨 Palette: Add keyboard shortcuts for project navigation
  .jules/palette.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

fix(ui): correct TiltCard coordinate calculation and optimize scrolling
  src/components/ui/TiltCard.astro
Due: eslint --fix, prettier --write

fix(security): prevent bypass of contact form rate limits and bot trap
  src/components/common/ContactForm.astro
Due: eslint --fix, prettier --write

🎨 Palette: Enhance accessibility for screen readers (Hero & AuthorInfo)
  src/components/features/home/Hero.astro
  src/components/features/projects/AuthorInfo.astro
Due: eslint --fix, prettier --write

feat(security): block protocol-relative URLs in validation utils
  .jules/sentinel.md
  src/utils/security.test.ts
  src/utils/security.ts
Due: eslint --fix, prettier --write

feat(perf): Optimize Hero carousel off-screen memory usage
  src/components/features/home/Hero.astro
Due: eslint --fix, prettier --write

feat: add keyboard navigation (arrows) for projects
  .Jules/palette.md
  src/pages/project/[slug].astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{css,scss})) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.{css,scss}
